[2014-09-22 13:38] samccone opened #1 "Add a build task for jsdoc files"
ping @jasonLaster @jdaudier

[2014-09-22 13:38] samccone opened #2 "Add index page for /docs"

[2014-09-23 23:53] samccone opened #3 "add task for building annotated source"

[2014-09-24 00:49] #3 closed, assigned to samccone

[2014-09-24 01:20] samccone opened #4 "Update logos with main www"
ping @jdaudier

[2014-09-24 01:21] samccone opened #5 "Update videos with Marionette Core talks!"
ping @jdaudier

[2014-09-24 01:23] samccone opened #6 "Implement lazy loading for all the logos"
No need to DL all the assets until someone scrolls into view

[2014-09-24 01:26] samccone opened #7 "Add version to main WWW via command line"

[2014-09-24 01:26] samccone opened #8 "Add script to build zip files"

[2014-09-24 01:27] samccone opened #9 "remove donate button"
no one is making money working on this project

replace it to a link to the issues

[2014-09-24 12:34] #4 closed, assigned to jdaudier

[2014-09-25 02:43] #8 closed, assigned to nobody

[2014-09-29 14:50] jasonLaster opened #13 "Add gitter button to the homepage"

[2014-09-30 00:43] jamiebuilds opened #14 "CloudFlare"
# https://www.cloudflare.com/sign-up :wink:

[2014-10-02 02:07] #9 closed, assigned to nobody

[2014-10-02 04:07] #14 closed, assigned to nobody

[2014-10-05 04:01] #5 closed, assigned to jdaudier

[2014-10-07 03:09] #13 closed, assigned to jdaudier

[2014-10-17 15:17] #6 closed, assigned to jdaudier

[2014-10-21 04:11] jisaacks opened #22 "serializeData model/collection precedence conflicting"
- [here](http://marionettejs.com/docs/marionette.itemview.html#itemview-serializedata) it says the model takes precedence.
- [here](http://marionettejs.com/docs/marionette.view.html#viewserializedata) it says the collection does.

[2014-10-21 13:32] #22 closed, assigned to nobody

[2014-11-03 14:35] #7 closed, assigned to nobody

[2014-11-04 20:08] #1 closed, assigned to nobody

[2014-12-27 23:01] samccone opened #24 "minor style tweaks to new landing page"
certain things look very broken, if someone want to just go over the page and tweak it so it does not look broken that would be awesome.

[2014-12-27 23:02] samccone opened #25 "fix build to include version instead of X.X.X"

[2014-12-27 23:04] samccone opened #26 "Speed up initial page load.. youtube is SO SLOW"
when the page loads there is some serious lag because of youtube.. would love someone to look into how to fix this.

[2014-12-27 23:16] samccone opened #27 "[Docs] pages should how the current version in the left sidebar"
Doc pages should how the current version in the left sidebar

![](http://dl.dropbox.com/u/36928599/Screenshots/0nx.png)

[2014-12-27 23:17] samccone opened #28 "[Docs] on select of version from dropdown should nav to that index page"

[2014-12-27 23:17] samccone opened #29 "[Docs] Strip "View the new docs" from each template"

[2014-12-27 23:17] samccone opened #30 "[Docs] strip readme from left sidebar"

[2014-12-27 23:46] samccone opened #31 "[Docs] after compilation should checkout the newest branch of the repo"

[2014-12-27 23:48] #29 closed, assigned to samccone

[2014-12-27 23:57] #31 closed, assigned to samccone

[2014-12-27 23:58] samccone opened #32 "Design of docs needs a general cleanup pass"
pretty hard to read currently, just with the font size and elements... should be a simple iteration to make them much better :+1:

[2014-12-28 00:07] #27 closed, assigned to samccone

[2014-12-28 00:11] #30 closed, assigned to samccone

[2014-12-28 00:17] samccone opened #33 "[Docs] compile docs should be smarter and only recompile files you do not already have."

[2014-12-28 00:23] #28 closed, assigned to samccone

[2014-12-28 00:28] samccone opened #34 "Need to sort releases better, currently is not correct"
![](http://dl.dropbox.com/u/36928599/Screenshots/0ny.png)

[2014-12-28 00:49] samccone opened #35 "marked headlines need to have an ID attr to match table of contents"

[2014-12-28 02:07] #2 closed, assigned to samccone

[2014-12-28 02:09] samccone opened #36 "Need to create a /docs/current page for the latest tag released"

[2014-12-28 02:30] #34 closed, assigned to samccone

[2014-12-31 05:02] #36 closed, assigned to samccone

[2014-12-31 21:38] #35 closed, assigned to nobody

[2014-12-31 22:08] samccone opened #42 "annotated source builds off of the wrong version"
is using pre ... should be using the latest release instead

[2015-01-01 05:09] paulfalgout opened #45 "favicons missing?"
I assume if it's not working on dev.marionettejs.com it's not going to work?

I see the reference in index.jade, but not actual files anywhere

[2015-01-01 07:58] paulfalgout commented on #26
So youtube might be fast enough if we just used `https://` in the URLs.  Also it looks like 2 of the vids have moved.

[2015-01-01 17:53] #45 closed

[2015-01-01 18:00] samccone opened #49 "jsdoc task does not work currently"

[2015-01-01 19:55] jasonLaster commented on #49
don't worry bout it. Chet's got it

[2015-01-01 23:43] paulfalgout commented on #49
Just a note in case you guys are still looking into this.. I did get them to work with two steps.

1. I had to npm install inside the cloned backbone.marionette directory
2. I had to manually run grunt jsDocFiles prior to grunt compile-api

[2015-01-02 00:19] jasonLaster commented on #49
Good point Paul.

[2015-01-02 22:54] jdaudier commented on #26
oops.... was trying to assign @kkemple but that didn't work

[2015-01-02 23:36] #25 closed

[2015-01-02 23:36] #42 closed

[2015-01-02 23:36] samccone commented on #33
closing since it is not worth it currently

[2015-01-02 23:36] #33 closed

[2015-01-02 23:37] samccone commented on #32
![](https://www.dropbox.com/s/vdq95jaci7bclg0/Screenshot%202015-01-02%2017.39.59.png?dl=0)

@lupinskij took an initial stab so far

[2015-01-02 23:37] samccone commented on #32
![](https://photos-1.dropbox.com/t/2/AAA3CNOwyndta5TZICdNvhJHQnMRlZ3okw59uLhO3i3x8A/12/345341680/png/1024x768/2/_/0/4/Screenshot%202015-01-02%2017.39.59.png/CPD91aQBIAEoASgC/vdq95jaci7bclg0/AADG0aiNHfZbaXbW3TVe2Baza/Screenshot%202015-01-02%2017.39.59.png)

https://www.dropbox.com/s/vdq95jaci7bclg0/Screenshot%202015-01-02%2017.39.59.png?dl=0

[2015-01-02 23:40] thejameskyle commented on #32
Oooh pretty, I kinda want the "Documentation Index" to exist in a different form, something like this sidebar: http://getbootstrap.com/components/. It should also be auto generated since it goes out of date easily.

[2015-01-02 23:46] samccone commented on #32
yep, luckily the new deploy of the site is stupidly simple now (on purpose)

[2015-01-02 23:55] samccone opened #52 "Think about what is in our header"
![](http://dl.dropbox.com/u/36928599/Screenshots/0ob.png)
![](http://dl.dropbox.com/u/36928599/Screenshots/0oc.png)
![](http://dl.dropbox.com/u/36928599/Screenshots/0od.png)
![](http://dl.dropbox.com/u/36928599/Screenshots/0of.png)

and then us..

![](http://dl.dropbox.com/u/36928599/Screenshots/0oe.png)

I think we are wasting way too much space on a logo and there is no clear CTA

[2015-01-02 23:59] jdaudier commented on #52
maybe removing the gray bar will help before we switch to fixed top nav

[2015-01-03 00:00] jdaudier commented on #52
or we can make the header thinner, move logo smaller to the left, add the tagline and download button inside the thinner header

[2015-01-03 00:03] samccone opened #53 "Investigate a DOC quick search feature."
We have all of the page contents at compile time.. so i think it should be possible to create some kind of quick search in our doc pages.

[2015-01-03 00:12] jdaudier commented on #52
one idea...
![new nav](https://cloud.githubusercontent.com/assets/1666031/5600874/3b44ba80-92b3-11e4-8b68-2bf553c898f0.png)

[2015-01-03 00:14] samccone opened #54 "Marionette logo needs to be animated..."
leaving this one wide open.......

[2015-01-03 00:17] thejameskyle commented on #54
Are you sure you want to leave this one open ended with me around?

[2015-01-03 00:22] samccone commented on #54
yes

[2015-01-03 00:23] jdaudier commented on #52
another idea...
![nav2](https://cloud.githubusercontent.com/assets/1666031/5600935/c90ba3a0-92b4-11e4-9a2c-5669c56032db.png)

[2015-01-03 00:25] thejameskyle commented on #54
_clicks photoshop_

[2015-01-03 00:40] jdaudier commented on #52
or... i think i like white behind our logo
![nav3](https://cloud.githubusercontent.com/assets/1666031/5600998/22148dca-92b7-11e4-9af4-1201d9a01515.png)

[2015-01-03 00:49] jdaudier commented on #52
fav version so far inspired by npm
![v4](https://cloud.githubusercontent.com/assets/1666031/5601030/67d4eb42-92b8-11e4-9ef2-7159f004a448.png)

[2015-01-03 00:54] thejameskyle commented on #54
<img src="https://cloud.githubusercontent.com/assets/952783/5601048/cb702ba8-929f-11e4-9f62-f1c71d302ae6.gif" width="800">

[2015-01-03 01:22] jmeas commented on #54
ROFL @thejameskyle

[2015-01-03 01:25] jmeas commented on #54
It would be very easy for an animated logo to look like a cheesy & superfluous embellishment, I think. If we do this, we should make sure it doesn't look goofy.

I don't think it's a bad idea to just leave it static.

[2015-01-03 01:52] samccone opened #55 "Version selector in left menu in firefox looks so so bad"
![](http://dl.dropbox.com/u/36928599/Screenshots/0og.png)

[2015-01-03 02:09] samccone commented on #52
from @lupinskij

![](http://dl.dropbox.com/u/36928599/Screenshots/0oh.png)

[2015-01-03 02:34] samccone opened #57 "concat minify and uglify all js and css"

[2015-01-03 03:01] samccone commented on #26
@kkemple literally destroyed this

![](https://31.media.tumblr.com/89ee74469c4d32a56a83108119fac659/tumblr_n9uo2p4XZM1sz7asho4_500.gif)

[2015-01-03 03:01] #26 closed

[2015-01-03 03:04] samccone opened #59 "compress and attack all slow network assets"
![](http://dl.dropbox.com/u/36928599/Screenshots/0oi.png)

[2015-01-03 03:05] samccone commented on #59
I prob seem crazy, but... I think we can get this page to load so fast .. there still is some delay.
I think we can grab all external images and put them in the repo.. after compressing the heck out of them
this stacks on top of this issue

https://github.com/marionettejs/marionettejs.com/issues/57

[2015-01-03 03:11] samccone opened #60 "Fix google page insight issues"
https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fdev.marionettejs.com%2F

[2015-01-03 03:54] kkemple commented on #53
i built something like this for my blog using lunr.js and backbone :: wrote a post about it here :: http://kkemple.github.io/adding-site-search-with-lunr/

[2015-01-03 04:27] kkemple commented on #53
@samccone essentially you would have a grunt task that builds the json to feed to the collection, then you just fetch it at runtime and populate the the lunr search index with the collection data, very simple

[2015-01-03 05:15] paulfalgout commented on #53
This definitely sounds like the right solution

[2015-01-03 05:40] jasonLaster commented on #54
I think @thejameskyle - just made our first easteregg.

now how do you trigger it... if only we had a virtual-doooo

[2015-01-03 10:38] JSteunou commented on #54
Konami code of course https://github.com/snaptortoise/konami-js ;)

[2015-01-03 13:50] trezy commented on #54
Haha, I'll throw something into the refactor branch. I had an idea for it already. Like @jmeas said, it's easy for something like that to be cheesy. It needs to be more of an easter egg than anything. I'm thinking an SVG version of the logo with a tiny animation where the handle moves and the legs wiggle a little.

[2015-01-03 15:48] kkemple opened #64 "video container for features videos resizes when certain videos are loaded"
This is related to the swapping I implemented for the featured videos, I am adding a fix for it, thanks @jdaudier for catching that

[2015-01-03 15:56] samccone commented on #54
Yeppp

[2015-01-03 17:51] kkemple commented on #54
Another konami function :: https://github.com/kkemple/konami

[2015-01-03 18:45] jdaudier commented on #64
Thanks @kkemple!

[2015-01-03 20:01] kkemple commented on #53
There is also Swiftype :: https://swiftype.com/open-source :: that gives free premium service to open source projects. I believe CodeShip, Ember, and SendGrid also use them for search, worth looking in to.

[2015-01-03 20:38] paulfalgout commented on #55
Fixed in https://github.com/marionettejs/marionettejs.com/pull/63

[2015-01-03 20:38] #55 closed

[2015-01-03 20:40] samccone commented on #64
this is fixed!

[2015-01-03 20:40] #64 closed

[2015-01-03 21:13] thejameskyle commented on #53
@kkemple Just asked https://twitter.com/stefanpenner/status/551486435581501441

[2015-01-03 21:25] samccone commented on #53
that stinks,

we can always ask https://qbox.io/ if they will sponsor us.. and we can just use ES.. which is the correct tech for this problem

[2015-01-03 21:54] kkemple commented on #53
yeah elastic search is good, but maybe it wouldn't hurt to give lunr.js a go just to perf it, if we can manage by ( categories | tags | keywords ) etc. to keep the json size down, or only populate once the user clicks search, we could get a much faster search in place, since we have to compile the docs anyway it may not hurt to use something local.

Also it would be better for offline, we could st

[2015-01-03 23:41] samccone commented on #53
yeah @kkemple not opposed to this :) just throwing out ideas

[2015-01-03 23:43] samccone opened #66 "Investigate Docs being a SPA"
Since at compile time everything is just JSON and we write out templates, I think it should be possible to turn our docs into a SPA, or at least a SPA per version release.

Might be nice to dogfood marionette here.

Anyone have any thoughts one way or another?

[2015-01-04 00:14] kkemple commented on #66
I definitely think it makes sense to dog food the docs, I also think we could do a single app for all versions

[2015-01-04 04:53] samccone opened #68 "deploy should bower install"

[2015-01-04 04:53] samccone opened #69 "add cache busting to assets"

[2015-01-04 05:11] jdaudier commented on #66
I think it'd be cool if it was a SPA and when people wanna to see an example, we can just point to the repo.

[2015-01-04 05:27] kkemple commented on #53
yeah well my idea may be overkill, it would be weird to build so much infrastructure around the search when the site is pretty static, we could let the ES service handle the work allowing the docs to stay dumber, if we went to an SPA :: #66 :: then it might make more sense for something local... I too am just trying to work through all the scenarios :smiley_cat:

[2015-01-04 21:36] kkemple commented on #54
Thought it would be fun to make a Konami behavior :: https://gist.github.com/kkemple/8bdc20cae7cdda6b7e53

[2015-01-04 22:25] thejameskyle commented on #54
Oh god, so good.

[2015-01-04 22:53] samccone commented on #54
:)

[2015-01-05 04:16] samccone commented on #52
I just want to add a link to the docs and then this can be closed :book:

[2015-01-05 04:18] jmeas commented on #52
@lupinskij's 2nd mockup is :+1:

[2015-01-05 04:30] sethkrasnianski opened #71 "Mobile nav"
Around iPhone 5 portrait:
![screen shot 2015-01-04 at 11 27 55 pm](https://cloud.githubusercontent.com/assets/1910114/5609231/5b54b21e-9469-11e4-81f1-27c605297043.png)

Should probably do a hamburger and toggle the `ul` with the `li`s style set to `display: block` etc...
This could apply to all hand held (non-tablet) devices.

[2015-01-05 05:24] jasonLaster commented on #71
Yup. I'd say "block" so the links are tappable.

[2015-01-05 05:25] jasonLaster commented on #52
Yup - :point_up_2: **2**

[2015-01-05 06:45] thejameskyle commented on #52
What is the text in #2 even going to say?

[2015-01-05 06:47] jdaudier commented on #52
it can say something similar to what's on http://dev.marionettejs.com unless someone has a better / simpler description

[2015-01-05 08:20] JSteunou commented on #54
That's why wee need a Marionette repository. Collecting all those nice behaviors :p

[2015-01-05 15:15] samccone opened #72 "Headlines # href in doc headlines dont match up with github."
For instance

http://dev.marionettejs.com/docs/v2.3.0/marionette.behavior.html

`http://dev.marionettejs.com/docs/v2.3.0/marionette.behavior.html#$el-and-el`

You can use the table of contents as a guide as to how the links should be serialized. But i think this is a difference in githubs marked version and what we are using.

[2015-01-05 15:17] samccone opened #73 "fix sidebar doc scroll overflow."
Either drop the vertical padding or figure out a better solution.

[2015-01-05 15:18] samccone commented on #73
![screen shot 2015-01-05 at 10 18 20 am](https://cloud.githubusercontent.com/assets/883126/5614950/31ecdb30-94c4-11e4-902a-37d01c84b33f.png)

[2015-01-05 16:33] paulfalgout commented on #72
I'll get this, this afternoon.. know exactly how to fix it.

[2015-01-05 16:37] trezy commented on #52
I'm totally on board. @samccone, that's a great point that there's no CTA. I'm on board for #2.

[2015-01-05 16:37] samccone commented on #72
wooo

[2015-01-05 16:51] samccone opened #74 "Think about a page / section to list OS behaviors that people can add to their apps?"

[2015-01-05 17:01] kkemple commented on #74
http://gruntjs.com/plugins - something like this? you would need a tag to pull from NPM api, something like mjs-behavior, etc... whatever you decide let me know cause I am starting to build an actual library of behaviors so i would love to help out on this :+1: :heart_eyes:

https://github.com/behave-ui

[2015-01-05 17:04] samccone commented on #74
yep I also have a few here
https://github.com/samccone/marionette-behaviors

[2015-01-05 17:07] jasonLaster commented on #74
@samccone - nice idea. I wonder if we could do something with a gist that we pull down

[code]

[2015-01-05 17:07] jasonLaster commented on #72
Thanks Paul!

[2015-01-05 17:07] kkemple commented on #74
nice! i think it should get its own page if you decide to do it, like grunt has it set up. also would there be a list of marionette team contributed behaviors? that would be pretty awesome as well. not to ride grunt's coat-tails but they did do it right in my opinion

[2015-01-05 17:08] jasonLaster commented on #52
who wrote this beautiful text?

[code]

[2015-01-05 17:08] samccone commented on #74
yep http://gulpjs.com/plugins/ this is nice also

[2015-01-05 17:09] samccone commented on #74
![screen shot 2015-01-05 at 12 08 57 pm](https://cloud.githubusercontent.com/assets/883126/5616563/a78a6d3a-94d3-11e4-832c-ff739e2c3db3.png)
![screen shot 2015-01-05 at 12 09 13 pm](https://cloud.githubusercontent.com/assets/883126/5616565/b01a37e6-94d3-11e4-956c-74919973af41.png)

[2015-01-05 17:11] kkemple commented on #74
yeah both are pretty stellar

[2015-01-05 17:14] jdaudier commented on #52
Thanks @jasonLaster!  Guess my marketing background is coming in handy.

[2015-01-05 17:15] samccone commented on #52
![](http://i.minus.com/ib0hDuxpPrebyd.gif?q=0.856984931219)

[2015-01-05 17:15] samccone commented on #52
![ib0hduxpprebyd](https://cloud.githubusercontent.com/assets/883126/5616642/9346eeb0-94d4-11e4-81c6-a83677692cb7.gif)

[2015-01-05 17:17] kkemple commented on #52
![dumbledore-applause](https://cloud.githubusercontent.com/assets/3629876/5616663/e174f2b2-94d4-11e4-8bfd-ae7bd6fc12b5.gif)

[2015-01-05 19:34] jasonLaster commented on #52
Yea. Only critique would be. It doesn't convey, my framework is betta than yo fm.

[2015-01-05 19:45] kkemple commented on #52
:arrow_up: :+1:

[2015-01-05 20:32] samccone opened #75 "Add / Create Getting started tutorial page(s)"
So everyone else has a pretty robust getting started / tutorial. I think we can do this with ease. Does anyone have thoughts or ideas on this?

thanks for the idea @jenius

[2015-01-05 21:07] jdaudier commented on #75
So for the meetup i'm planning with Googlers and Luke (Ember), we're trying to come up with a CRUD app to demo. We're looking into this app as an idea: https://github.com/stefanpenner/ember-jobs

Maybe it's something we can use for our site once it's converted over.

Question: Would we want the demo app to use Marionette modules or a 3rd party module loader like webpack or browserify?  I'm thinkin

[2015-01-05 21:11] jmeas commented on #75
I agree with @samccone:

I don't think that we should use Marionette.Module or any other module loader.

[2015-01-05 21:35] trezy commented on #71
This should be fixed in the CSS refactor branch once I add the responsive stuff back in. However, I'd vote for a hamburger icon. @jdaudier even mentioned using an actual hamburger rather than the standard icon. I thought it was clever. ;-)

[2015-01-05 21:41] kkemple commented on #71
would it not hurt to have an off-canvas menu, the docs could benefit from that as well :smile:

[2015-01-05 21:41] kkemple commented on #71
on mobile*

[2015-01-05 22:02] samccone opened #76 "Add a blog feed to the new website"
https://github.com/marionettejs/blog/issues/17

[2015-01-06 00:25] jdaudier commented on #76
@samccone

[2015-01-06 00:28] samccone commented on #76
worked.. thanks :+1:

[2015-01-06 00:44] jdaudier commented on #76
ok great @samccone @samccone @samccone @samccone @samccone

[2015-01-06 01:51] trezy commented on #71
I recently built a native app style off screen menu we could utilize for mobile if we wanted to be all snazzy and such:
http://codepen.io/trezy/pen/KwzXWK

[2015-01-06 02:24] samccone commented on #71
of course we do

[2015-01-06 02:38] sethkrasnianski commented on #71
:+1: for actual white hamburger silhouette

[2015-01-06 02:56] samccone commented on #71
:+1: for someone to bring me an actual hamburger

[2015-01-06 03:19] kkemple commented on #71
mmmmm :hamburger:

[2015-01-06 03:31] #72 closed

[2015-01-06 03:34] #68 closed

[2015-01-06 03:35] kkemple commented on #73
ahahahaha you know you are tired when you click on an image of a web page and try to inspect it...
yeah that just happened...

[2015-01-06 03:35] samccone opened #78 "fix ship to not blow away and recreate a repo each time.."
This should speed up deploys a bunch :)

[2015-01-06 03:35] samccone commented on #73
:)

[2015-01-06 03:48] #69 closed

[2015-01-06 03:53] samccone commented on #76
Does anyone have thoughts where this should go on the page?

[2015-01-06 03:53] samccone commented on #76
@lupinskij @jdaudier

[2015-01-06 03:58] #52 closed

[2015-01-06 03:59] #32 closed

[2015-01-06 04:35] kkemple opened #79 "is the center of the area "above the fold" getting too cluttered?"
It is looking kind of crowded in the middle of the screen when you land on the page, i included a suggested adjustment

How it is currently:
![clutter](https://cloud.githubusercontent.com/assets/3629876/5624449/7103f1cc-9533-11e4-90d8-8f5fd180f57b.jpg)

What I propose:
![proposed](https://cloud.githubusercontent.com/assets/3629876/5624448/7101df86-9533-11e4-8e70-a7742d747612.jpg)

[2015-01-06 08:01] jdaudier commented on #79
OOPS!  Just saw this... let me know if I should close my PR

![new](https://cloud.githubusercontent.com/assets/1666031/5625825/3d1e6a3c-9550-11e4-9061-84c45380e370.png)

inspired by...
![foundation](https://cloud.githubusercontent.com/assets/1666031/5625831/4b2bd272-9550-11e4-8e24-fd78f744465e.png)

[2015-01-06 08:23] jdaudier commented on #79
another option

![new2](https://cloud.githubusercontent.com/assets/1666031/5626016/6473101c-9553-11e4-9061-fb6b79384ae0.png)

[2015-01-06 08:30] jdaudier commented on #79
another option

![new2](https://cloud.githubusercontent.com/assets/1666031/5626083/501f355e-9554-11e4-8557-b6db3a9f2b6d.png)

[2015-01-06 10:10] paulfalgout opened #83 "Consider replacing font-awesome"
Granted it's not huge 64k, it's now one of the bigger resources, but we barely use it.  Once the design settles a bit we might consider going all svg or building a subset of font awesome for our own use.

[2015-01-06 10:16] jdaudier commented on #79
OOPS! Sorry guys... I read this after I already started making some changes.  LMK what you think. Close my PR  https://github.com/marionettejs/marionettejs.com/pull/84 if you don't like it.

![new](https://cloud.githubusercontent.com/assets/1666031/5627184/01fc170c-9563-11e4-973e-d4641416909a.png)

![new2](https://cloud.githubusercontent.com/assets/1666031/5627187/0760dd5e-9563-11e4-9c33-7a8397459

[2015-01-06 10:24] paulfalgout commented on #79
@jdaudier interesting.  I like getting rid of the gitter badge.  Looks fine on github, but moderately out of place on the site.  It's also intriguing that we have a support link that goes directly to gitter.  makes sense.

[2015-01-06 10:30] jdaudier commented on #83
Done in my PR https://github.com/marionettejs/marionettejs.com/pull/84

[2015-01-06 10:33] jdaudier commented on #76
i think we can put this on the back burner until we have regular blog content 'cuz we don't want that section to be calling attention to a stale blog. :smile:

[2015-01-06 12:40] kkemple commented on #79
i love the support link and removing the gitter badge! also since we have twitter in header and github star button by contribute I think we should remove the social section from the top of the page, see following:

![marionette_js_ _the_backbone_framework](https://cloud.githubusercontent.com/assets/3629876/5628576/4df92974-9577-11e4-905d-e562a56d88fd.jpg)

[2015-01-06 12:52] jdaudier commented on #79
just to clarify, so you mean remove the twitter logo from the top red nav?

[2015-01-06 12:54] alexbrasetvik commented on #53
Hi.

I'm representing [Found.no](https://www.found.no), and [Sam asked me to chime in here](https://twitter.com/samccone/status/552222696960843776).

We provide hosted Elasticsearch as a service, and we are very happy Marionette users. We're happy to provide you with the necessary clusters.

If you sign up, we can take it from there. :)

[2015-01-06 12:56] kkemple commented on #79
sorry no, i meant to remove the social section right below the billboard section, but looks like you have done so already lol

[2015-01-06 12:56] jdaudier commented on #79
yup thanks!

[2015-01-06 12:58] kkemple commented on #79
looks amazing by the way :+1:

[2015-01-06 13:23] kkemple opened #86 "module 'rimraf' not found for compile-docs.js"
![grunt-error](https://cloud.githubusercontent.com/assets/3629876/5629047/1792aa08-957d-11e4-917f-e34757c1fc27.jpg)

this is on master with latest from origin, i will add it in my responsive cleanup branch i am about to work on, unless someone wants to add it in the meantime

[2015-01-06 13:25] kkemple commented on #79
@jdaudier @samccone it's safe to say this issue can be closed because @jdaudier fixes this issue in #84

[2015-01-06 13:25] #79 closed

[2015-01-06 14:21] jmeas commented on #76
we don't want a catch-22 situation. If you get the blog up, I'll try to write one post a week.

[2015-01-06 14:24] #86 closed

[2015-01-06 14:25] samccone commented on #59
#85

[2015-01-06 14:45] samccone opened #88 "Fix header area to not break until a much smaller width"
Currently this happens..

![screen shot 2015-01-06 at 9 44 23 am](https://cloud.githubusercontent.com/assets/883126/5630109/ab7e4fa0-9588-11e4-9c8d-9af7556b6e79.png)

because we are hard coding pxl values inside a % container.. should be a simple fix.. @trezy does your branch address this?

[2015-01-06 15:35] trezy commented on #88
Yup, it will. I'm using `em`s, `rem`s, and flexbox for everything.

[2015-01-06 15:37] samccone commented on #88
cool no pressure but any eta on even a subset pr?

[2015-01-06 15:38] kkemple commented on #88
@trezy you are the man...I was going to work on responsive stuff...guess I
will find some docs work :smile:

On Tue, Jan 6, 2015, 10:35 AM Trezy <notifications@github.com> wrote:

[2015-01-06 15:39] trezy commented on #74
This sounds like The Bones Collective that @jmeas and I were talking about a while back.

[2015-01-06 15:45] samccone commented on #88
heh @kkemple

there will be a fun bit of work we are going to have to do with @chetharrison's stuff.. it is really a game changer for docs but we are going to have to both more doc content and do a bit of style work.. that said tho.. it is so so amazing

[2015-01-06 16:00] jenius commented on #75
I agree but also think it's probably a good idea to also have an example of how it can be used with a commonjs loader since these are in very heavy use, and it's not exactly a straightforward process to do so.

I think a demo app would help, but what I was originally thinking was somewhat of a walkthrough of how to get things set up and what to use. Right now the docs are a collection of documente

[2015-01-06 16:05] samccone opened #89 "Investigate adding versioned docco builds"
since we have versioned docs... it makes sense to add versioned docco builds also

[2015-01-06 16:05] samccone opened #90 "Investigate theming docco to match our style guide."

[2015-01-06 18:53] kkemple commented on #88
I'm ready to see the updates! Any eta on them?

On Tue, Jan 6, 2015, 10:45 AM Sam Saccone <notifications@github.com> wrote:

[2015-01-06 20:10] jasonLaster opened #91 "Rethink what goes in the code sample"
This is a good start, but I think we could do better...

![](http://f.cl.ly/items/220u031G3k22432z0f2q/Image%202015-01-06%20at%203.07.44%20PM.png)

+ executable
+ preview
+ use layout view, collection view
+ have something super pretty like maybe github cards with a web components https://github.com/pazguille/github-card

[2015-01-06 20:12] paulfalgout commented on #91
Whatever we do we should link to a jsfiddle of it or something

[2015-01-06 20:16] paulfalgout commented on #59
Next steps here.
- [ ] Host and compress those youtube preview images locally
- [ ] Replace the 2 gif logos with png versions (for consistency and so google doesn't complain
- [ ] Investigate why google wants the mojotech logo resized

[2015-01-07 00:24] #59 closed

[2015-01-07 00:24] ChetHarrison commented on #49
@jasonLaster I'm running into style issues so I will push what I got to the repo and let me know if you have a chance to look at it. When I strip the css I can see all the content but when I add it in content is getting suppressed. If you got 15 mins tomorrow I could probably walk you through it and the process of explaining it would probably lead me to the bug. It would be more interesting than t

[2015-01-07 00:26] samccone commented on #49
@ChetHarrison I will be online in like 1.5 hours and will be around to pair on this ;)

[2015-01-07 00:34] ChetHarrison commented on #49
no css
![screen shot 2015-01-06 at 4 31 55 pm](https://cloud.githubusercontent.com/assets/5542842/5638827/a54b962c-95c1-11e4-9a11-da31f5326cba.png)

with css
![screen shot 2015-01-06 at 4 32 13 pm](https://cloud.githubusercontent.com/assets/5542842/5638834/b8bde58e-95c1-11e4-99ae-a4e1845b88bd.png)

[2015-01-07 00:49] ChetHarrison commented on #49
thanks @samccone I will be hosting my mother, stepmother and family for dinner at that point sorry (west coast). Optimistically the kids are down by 8:30 pacific.

[2015-01-07 01:34] samccone commented on #49
word, that looks fine sans css I would not worry about that piece :)

[2015-01-07 04:18] jasonLaster commented on #49
Yea, I second that. Drop all the CSS. Jsdoccer can be pure birthday suit for V1

[2015-01-07 04:22] ChetHarrison commented on #49
k cool. When bootstrap and foundation came out I stopped caring about css

[2015-01-07 04:22] ChetHarrison commented on #49
so I suck at it

[2015-01-07 04:31] ChetHarrison commented on #49
Tomorrow I will rewrite the readme and will maybe link a video walkthrough of the code (if I have time) so you can get a solid overview. The configurability of of the tool and the lack of defaults that are non Marionette code paradigms deserve some interim instruction.

[2015-01-07 04:55] ChetHarrison commented on #49
"birthday suit" nice!

[2015-01-07 05:15] kurt-integral commented on #90
where is the style guide?

[2015-01-07 06:05] paulfalgout opened #93 "Dist folder needs to be deleted prior to deploy"
create mode 100644 images/logos/stubhub.gif
 create mode 100644 images/logos/stubhub.png

That gif file doesn't exist anymore, and there are other files not in existence still getting deployed.

[2015-01-07 09:23] jdaudier commented on #59
site is so fast now! :+1:

[2015-01-07 14:00] samccone commented on #93
:+1:

[2015-01-07 15:45] trezy commented on #88
Sorry about the delays. I'm going to try to get the whole thing done and pushed early next week at the latest. I'd do it sooner but I've got a million things going on starting tomorrow. I'll try to get it all done tonight if I have time.

However, feel free to pull down my branch and do some work there.

[2015-01-07 15:48] samccone commented on #88
wooohooo

[2015-01-07 16:17] #83 closed

[2015-01-07 16:18] samccone commented on #60
yep this is about done :+1:

[2015-01-07 16:18] #60 closed

[2015-01-07 16:23] kkemple commented on #57
@samccone i can do this one tonight if you want

[2015-01-07 16:24] kkemple commented on #88
@trezy I will take a look and see if I can help you out tonight

[2015-01-07 16:25] trezy commented on #88
Awesome, I appreciate it! The main things left on the refactor are bringing back in the new styles and rebasing. Then it's done!

[2015-01-07 16:31] samccone commented on #57
awwwww yes

[2015-01-07 18:09] samccone opened #95 "Add in doc top section to view source and improve doc link"
![screen shot 2015-01-07 at 1 08 35 pm](https://cloud.githubusercontent.com/assets/883126/5650655/5fda849c-966e-11e4-8ab8-5fecbfa16ad0.png)

[2015-01-07 18:18] samccone opened #96 "The video slider is terrible UX"
We have tons of great videos, but it looks like there is only 1
we need to make this section so much better.

[2015-01-07 18:24] sethkrasnianski opened #97 "Sprite twitter svg icon in header"
The current hover state flickers since it's requesting the svg, then works seamlessly thereafter. Spriting it or doubling up will fix this.

[2015-01-07 18:25] samccone commented on #97
or base64;ing

[2015-01-07 18:41] sethkrasnianski commented on #97
:+1:

On Wednesday, January 7, 2015, Sam Saccone <notifications@github.com> wrote:

[2015-01-07 19:33] samccone commented on #93
@paulfalgout wait maybe I did not follow 100% as to what this issue was for.. care explaining a bit more

[2015-01-07 19:37] samccone opened #98 "Add guides architecture to make it easy to author, view, edit, and search."
The goal of the guides is to talk about core concepts in Marionette and how they connect together. They are not a deep dive into the API nor do they talk about "cookbook recipes". They are intended to communicate the intent and purposes of the core components that make up marionette.

[2015-01-07 21:12] ChetHarrison commented on #49
I got a boat load of tests to write but it appears to be doing the right thigs

[2015-01-07 22:31] thejameskyle commented on #57
You know CloudFlare can do this for you automatically right?

[2015-01-08 00:22] jmeas opened #99 "Core concepts guide"
Guides are short explanations of features of Marionette, written by the maintainers of the library. We can use Guides to answer high-level questions, like "What is a CompositeView for?" and "When might I use Radio?" They're also a good place for us to provide beginners with basic information that can help them get started.

@benmccormick suggested we write a "Core Concepts" page that introduces th

[2015-01-08 03:07] jmeas commented on #99
Diagrams will definitely be helpful throughout the guides, but I'm not sure if now is the right time to introduce them. This page is to be a high-level explanation that just gets the gist of things across, and I'm not sure if a single diagram could accomplish that.

I think that any diagram that we include would either be too specific, like the one @benmccormick posted above, or too complex to fit

[2015-01-08 03:18] benmccormick commented on #99
Yeah @jmeas I think you're right.  Not the right fit for this page.

[2015-01-08 08:48] jdaudier commented on #71
Here's a vid: http://screencast.com/t/8F4yMysO6

![nav](https://cloud.githubusercontent.com/assets/1666031/5660004/c196c2ac-96e8-11e4-9803-84a25e14f1a5.png)

----
**ON CLICK**

![nav2](https://cloud.githubusercontent.com/assets/1666031/5660006/c5abb6ae-96e8-11e4-8d02-777243a7e2bd.png)

[2015-01-08 08:54] paulfalgout commented on #93
So if I don't manually delete my dist folder before running `npm run deploy` it will get all of the files from previous compiles.  So like my deploy the other night deployed gif files that were no longer in the repo, such as the stubhub.gif.  So I missed that those two logos were broke, because running locally and on prod they worked just fine.

[2015-01-08 09:03] jdaudier commented on #93
BTW, whenever I pull down the latest master, I always have to delete my dist folder in order to have the site launch properly for some reason. Not sure if it's related to this.

[2015-01-08 09:05] jdaudier commented on #97
Thanks @paulfalgout!  I'd likr to know about this base64 technique though if anyone cares to share.

[2015-01-08 09:10] paulfalgout commented on #97
base64 is encoding a data uri right into the src.. so you can take an image or a font file or something and encode it into a string and use it within a css file.  However as far as svgs it's quite possible since they're just plain text files to just use the data uri without base64 as base64 can add some extra weight. http://css-tricks.com/probably-dont-base64-svg/

I'm looking for an easily mainta

[2015-01-08 09:15] jdaudier commented on #97
i think another way is to use the svg as svg and change the fill

[2015-01-08 09:31] paulfalgout commented on #93
so I think what it is `clean:dist` is only run with `grunt dev` so if I make a bunch of changes and deploy after running `grunt dev` dist doesn't get cleaned up.

[2015-01-08 09:47] jdaudier commented on #93
meaning, the deployed files in `dist` are conflicting with what i should be seeing in `dist` during dev?

[2015-01-08 09:50] paulfalgout commented on #93
so `dist` is a generate directory, mostly copied stuff from `src`.  The `dist` file gets deleted when you run `grunt dev`, but if you delete a file from `src/` and don't run `grunt dev` again, that file will remain in `dist/` since the folder is never removed.  So I'm not entirely sure what npm deploy is doing , but I don't think it's running `clean:dist` first, and it should.

[2015-01-08 10:17] jdaudier commented on #93
ping @trezy :arrow_heading_up:

[2015-01-08 13:37] samccone commented on #93
gotcha! np np

[2015-01-08 13:38] samccone commented on #57
hot dang

[2015-01-08 13:39] samccone commented on #71
;)

[2015-01-08 14:44] kkemple commented on #71
can the hamburger have a bit more breathing room (padding) around the top and bottom

[2015-01-08 15:38] sethkrasnianski commented on #97
Either way is great. base 64 is particularly great because it requires no assets.

[2015-01-08 17:02] paulfalgout commented on #97
@sethkrasnianski the thing with base64 and svg is that it doesn't necessarily buy you anything. With a font or a jpg or something binary, technically I think you could open the file in a simple text editor and copy the binary gobbledygook directly into css, but you're likely to get a special character that breaks your css file in the browser.  base64 solves this problem.  but since xml is all text

[2015-01-08 18:00] trezy commented on #93
We probably just need to set up separate `clean` tasks for each build step - e.g. Sass, Jade, copy assets, etc.

[2015-01-08 18:00] samccone commented on #93
yeeeeep simple simple fix

[2015-01-08 18:36] paulfalgout commented on #57
:+1: for cloudflare doing it

[2015-01-08 19:07] jdaudier commented on #71
Sure @kkemple we all need some personal space when eating a hamburger

[2015-01-08 19:14] samccone commented on #57
@thejameskyle does cloudflare have multi login yet?

I am unable to evaluate this as being a good solution until I am able to look closer at it (in the ui), however concating and minifiying scripts is a pretty solved problem on grunt, so based on what I currently know I think a first pass having grunt do it, and then in a second pass delegating to cloudflare seems like a valid approach

[2015-01-08 19:22] #97 closed

[2015-01-08 23:09] #71 closed

[2015-01-08 23:09] samccone commented on #96
@kkemple killed it on this one

[2015-01-08 23:09] #96 closed

[2015-01-08 23:17] jmeas opened #104 "Github link should be an icon"
Just like the twitta' bird

[2015-01-08 23:19] jmeas opened #105 "Remove the literal burger menu?"
It's good as a joke, but this is an actual website that people need to navigate. Sure, folks who are 'in' on the term 'burger menu' will get it, but it's a bit presumptuous to assume that everyone using our site will.

I'd rather our site be more navigable for more people than more funny for a few.

If we want to do fun stuff like this maybe we can hide it as an easter egg, but not make it the def

[2015-01-08 23:21] jmeas opened #106 "Remove "Requirements" section from home page?"
The requirements section can be removed, I think. That information really only needs to be on an installation page...not near the top of our landing page. To me, if Developer Jane comes to our website, the last thing I want her to think about is all of the things she needs on her page for `marionette.core.js` to work. I want her to focus on all of the problems it solves for you on top of Backbone.

[2015-01-08 23:25] #88 closed

[2015-01-08 23:26] jmeas opened #107 "Update "About Marionette" section"
The main about section should be updated, I think. The first sentence:

uses unnecessary buzzwords like "composite" and "large-scale." And it says that we *aim* to do something, not that we **do** do it. The second paragraph uses that word "composite" once again, yet it still doesn't explain anything to me. Both Angular and Ember are also composite, in that they are made up of different pieces. So

[2015-01-08 23:29] samccone opened #108 "Mobile view needs a quick style pass to make it look less rough around the edges."

[2015-01-08 23:31] jmeas opened #109 "Unify font of docs and home page"
Right now the home page uses the very-bubbly Questrial font for everything, but our docs are using the elegant Helvetica Neue for headers and Times for the text. We should be more consistent.

If my adjectives didn't give me away, I'm not a fan of Questrial. It seems a bit too playful for me. I know @jdaudier is a fan, though. I'll make a separate issue for this.

[2015-01-08 23:32] samccone commented on #109
cc @lupinskij

[2015-01-08 23:32] jmeas opened #110 "Questrial?"
Our home page uses Questrial as the font, which is a really playful typeface. How do people feel about this? I think it's a bit too fun to be our typeface, but I know @jdaudier is a big fan of it.

I'd rather go with something that seems more neutral, even if they are overused. Helvetica/Arial are the obvious choices. The most 'fun' font I'd suggest is Open Sans.

Am I alone in this? :alien:

[2015-01-08 23:33] samccone commented on #110
cc @lupinskij

[2015-01-08 23:36] jmeas opened #111 "Mojotech?"
The old website may have been "handcrafted and coded" by Mojotech, but it seems that for this new website Mojotech is one of many contributors. Maybe we should downplay the Mojotech bit at the bottom of the page? One idea would be to introduce a more 'standard' footer, and then have

w/o any logo as part of it. Thoughts?

[2015-01-08 23:40] samccone commented on #111
yeah we can :x: it

[2015-01-08 23:41] samccone commented on #111
lets just throw the MT logo back into the logo list

[2015-01-08 23:44] jmeas opened #112 "Rethink the home page"
The home page does too much right now, and by doing that, it isn't doing enough.

Let's take downloads, for instance. The downloads section expands on the download link offered at the top of the page, but it doesn't expand on it *enough*. There isn't, for instance, a way to access downloads for versions older than the most recent one.

This problem affects most of the sections of our homepage, I t

[2015-01-08 23:46] samccone commented on #112
related work that we have already done
https://github.com/marionettejs/marionettejs.com/issues/52
https://github.com/marionettejs/marionettejs.com/issues/79
https://github.com/marionettejs/marionettejs.com/issues/96

[2015-01-08 23:46] samccone commented on #112
any wireframes or sketches you have are welcome

[2015-01-08 23:48] jmeas commented on #106
@samccone brought up his thoughts on this section [over here](https://github.com/marionettejs/marionettejs.com/issues/79#issuecomment-68825138)!

[2015-01-08 23:52] samccone opened #113 "Stop running image min during watch"
this is really slow :)

[2015-01-09 00:00] #57 closed

[2015-01-09 00:28] jmeas commented on #113
In my own apps, I typically just copy images over during development. Works great! What would be even faster would be serving up the original `src` files while in development, so that no action needs to be taken at all.

[2015-01-09 00:38] jdaudier commented on #110
@jmeas Does it look bubbly on this site too or just on our site? http://getrest.co
(the font was inspired from this site)

[2015-01-09 00:39] paulfalgout commented on #105
:+1:

[2015-01-09 00:40] jdaudier commented on #106
Maybe the requirements section can be replaced with a "Why Marionette?" section with like a bulleted list of the top 3 to 5 reasons

[2015-01-09 01:14] jmeas commented on #106
That's definitely an option we should consider. I'd like to see what people can come up with for those bulleted items. I'm worried that we won't be able to come up with anything that's as communicative as just showing some really kickass examples on the home page. I like how Ember organizes their page:

Feature A. This is what it does. This is why it kicks ass. Code example.
Feature B.
...and so o

[2015-01-09 01:16] jmeas commented on #110
I think it works fine there, but the mood of that website is, and should be, I think, different from ours. Marionette is by its nature a technical thing (it's a programming library), whereas that's a marketing page for a watch accessory.

Maybe I'm just cray tho.

[2015-01-09 01:33] kkemple commented on #106
I completely agree with @jmeas, we are on-boarding two new developers right now and when we said we use Marionette both of them asked where they could get good information on how to use it, I have to give them a curated list of blog posts and repos to look at, etc... but really they should be able to get that info just by landing on the homepage.

[2015-01-09 01:34] kkemple commented on #106
We use the docs all the time when we want API specifics but as far as how all the parts fit together we have to send them elsewhere

[2015-01-09 01:51] jmeas commented on #106
@kkemple, we also plan to have guides which will show very in-depth how all the pieces fit together (#98). My idea for a home page is a bit different from that. You wouldn't send your devs to the home page to learn how the pieces fit. That'd be what the guides are for. But you might send someone who, say, is accustomed to writing plain Backbone to show them how Marionette can clean up their code.

[2015-01-09 02:08] samccone commented on #105
:hamburger:

[2015-01-09 02:22] kkemple commented on #106
@jmeas yeah absolutely, when I said how to use it, I really meant what it is. More along the lines of what you were saying, the features of Marionette, why use it, where does it improve upon Backbone, etc. Not so much on application structure and implementation specifics, although I am looking forward to the guides as well!

Something like Ember's homepage. (As you said :smile:)

[2015-01-09 03:07] jmeas commented on #106
dope :+1:

[2015-01-09 04:15] jdaudier commented on #105
i knew this wouldn't get passed by you. :cry: i figured that if anyone is on marionette's mobile site, then they're a developer and know what a hamburger icon is. thought it would add a little personality to the site.

with that being said, I will go change it to the boring 3 lines.

[2015-01-09 04:20] samccone commented on #105
heh that is why I liked it @jdaudier :)

people that go to marionettejs.com on their phones are typically a special kind of person....

[2015-01-09 04:24] jdaudier commented on #110
i'll go try different fonts when i have some time

![2015-01-08_2323](https://cloud.githubusercontent.com/assets/1666031/5675496/6f2d68f4-978d-11e4-8715-e80a8a707496.png)

[2015-01-09 04:26] samccone commented on #110
hahahahahah @jdaudier i love that for so many reasons

[2015-01-09 04:26] jdaudier commented on #105
is this something I can ask the community about in the marionette chat room?

[2015-01-09 04:27] samccone commented on #105
heh I think it is prob the most "professional" to make it the 3 lines for now

[2015-01-09 04:30] kkemple commented on #105
^ i agree most professional, but the hamburger is way funnier lol :hamburger:

[2015-01-09 04:32] jdaudier commented on #105
ok 3 lines it is ... no problemo

![img](http://i.stack.imgur.com/KVkTq.jpg)

[2015-01-09 04:42] jmeas commented on #110
ha. Ember's imagery is certainly playful, but once you crack open [their documentation](http://emberjs.com/api/) the technical side of things comes out. And all the while they use the same font.

We could *maybe* accomplish the same thing by having two different fonts, but that'd be a bit odd, I think.

[2015-01-09 04:44] jdaudier commented on #110
don't worry... i'll go mess around with the font soon

[2015-01-09 14:19] #104 closed

[2015-01-09 14:19] #105 closed

[2015-01-09 14:19] #111 closed

[2015-01-09 19:21] thejameskyle commented on #57
@samccone Nope nothing has changed in the last 3 days since you asked. :stuck_out_tongue_winking_eye:

[2015-01-09 19:35] jdaudier opened #116 "video slider need minor responsive touch"
The text overlaps (ping @kkemple)

I wonder if there's a way to remove the black bars on the images. Not a big deal though.

https://www.dropbox.com/s/4qbml1lsy7f5ju8/Screenshot_2015-01-09-14-27-35.png?dl=0

[2015-01-09 19:42] jasonLaster commented on #57
come on @thejameskyle - get it together.

[2015-01-09 19:48] kkemple commented on #116
I can look tonight at really clean it up

On Fri, Jan 9, 2015, 2:35 PM Joanne Daudier <notifications@github.com>
wrote:

[2015-01-09 19:48] jdaudier commented on #116
Awesome burger!

[2015-01-09 22:34] samccone commented on #57
hahahahaha :P

[2015-01-09 23:03] samccone opened #117 "Expose Marionette on the page"

[2015-01-09 23:36] jdaudier opened #118 "Scroll-to-top arrow not showing up on Firefox"
**Firefox, you disappoint me...**
![bug](https://cloud.githubusercontent.com/assets/1666031/5689165/4efb4c3a-982e-11e4-9950-4921602c53d5.png)

----
**really Firefox?**
![bug](https://cloud.githubusercontent.com/assets/1666031/5689393/0c3f56f8-9832-11e4-8cbe-761adedc31c2.png)

----
**Works ok on Chrome & Safari**
![no bug](https://cloud.githubusercontent.com/assets/1666031/5689168/5ae778ac-982e-11e

[2015-01-10 00:36] paulfalgout commented on #118
fixed https://github.com/marionettejs/marionettejs.com/pull/119

[2015-01-10 00:36] #118 closed

[2015-01-10 00:38] jdaudier commented on #118
thanks @paulfalgout !

[2015-01-10 00:48] jasonLaster commented on #117
Yup.

[2015-01-10 03:19] paulfalgout commented on #117
This line could be re-added https://github.com/marionettejs/marionettejs.com/commit/30bed2fa561c6ccebf098e152ca4ea74a9199136#diff-bf143c78bb4166795f80029d72a3ab4dL46

As long as the defer is in there it'll be non-blocking and shouldn't slow the page load.  Really since underscore, BB and Mn aren't used in the site they could each be loaded deferred.  Though I doubt they're slowing down much in the

[2015-01-10 14:10] peterblazejewicz opened #124 "Use full NPM command version for `install` in the downloads section"
In the download section it states:

[code]

I do know that `i` is a shortcut for full `install` command of NPM - but using `i` can be misleading for newcomers. More frequently it can look like a typo or some weird/nerdy command (`which w`?).
Can you guys think of changing it to `npm i backbone.marionette`? And it is not an official NPM command ('npm i -h').

I can do a PR,

Thanks!

[2015-01-10 14:45] peterblazejewicz opened #125 "Twitter Card meta tags seems to be invalid"
The Twitter Card meta seems to have invalid type - the `card` - it is not supposed to have user defined value. It should have one of supported values (here `summary`, `summary_large_image` or maybe `product` can be used):

https://cards-dev.twitter.com/validator

Because of this I think Twitter's meta do not validate - and  Twitter uses Facebook OpenGraph instead (the same issue is ongoing on TryG

[2015-01-10 17:08] jasonLaster opened #126 "Brandish the burger"
Im not a marketer like Joanne or a designer like Nick, but I'm confident the Mn brand can accomodate the mobile hamburger nav. I propose we brand the burger w/ some Mn love and add it to the website. Brandishing the burger offers a chance to delete and troll the Internet community. And we know what that can do for page views and sentiment, think reddit and HN. So let's put our heads together and t

[2015-01-10 17:28] jmeas commented on #126
If we want our website to be fun and approachable, I think we can do it in other ways. I *much* prefer the three line menu to the literal take on the burger menu.

With that said, if everyone else thinks that it's a good idea, then go for it.

[2015-01-10 17:36] jmeas opened #127 "Dots and whitespace in menu are cursor: pointer"
They should not be

[2015-01-10 17:38] jmeas opened #128 "More/less companies is odd"
Click more, and it **instantly** appears. Click less, and it slides up. The ASCII art `[ - ]` [ + ]` could probably also be replaced with an icon.

[2015-01-11 03:04] jdaudier commented on #125
I think these are all leftover legacy code from the old site using Middleman.  Feel free to adjust as you see fit @peterblazejewicz. Thank you!

[2015-01-11 17:08] samccone commented on #127
fixed in #122 thanks @jmeas for filing this

[2015-01-11 17:08] #127 closed

[2015-01-11 17:09] samccone commented on #125
@peterblazejewicz awesome research, would you like to PR the fix for this? (if not we can)

Thanks again!

[2015-01-11 17:26] peterblazejewicz commented on #125
@samccone
Yes, PR within couple of hours.
Thanks!

[2015-01-11 17:28] samccone opened #131 "min marionette download is not min"
It looks like these got flipped somewhere, should be a simple fix

[2015-01-11 17:28] samccone opened #132 "write all current docs to /docs/FILE_NAME"
Forgot about this one.. simple fix

[2015-01-11 18:14] megawac commented on #131
Should be fixed by #129 (works locally)

[2015-01-11 19:06] #132 closed

[2015-01-11 19:11] #131 closed

[2015-01-11 21:49] #125 closed

[2015-01-11 21:58] peterblazejewicz opened #135 "The brand disappears on small screens (xs sizes/mobiles)"
I'm not sure if that was intended but currently the brand is hidden on small screens:

https://github.com/marionettejs/marionettejs.com/blob/master/src/stylesheets/_header.scss#L211-L213

![20150111225541](https://cloud.githubusercontent.com/assets/14539/5697030/0db0ebf0-99e5-11e4-8e6a-8238089abeae.jpg)

Wouldn't it better to let the brand stay visible on different sizes? (below describes a quick

[2015-01-11 22:03] samccone commented on #135
So it drops on purpose right now just because of the amount of vertical space the logo takes up, I think have the image swap to just the works would be a good idea, but not the tall M.

thoughts?

[2015-01-12 04:55] paulfalgout commented on #54
I can't believe I'm taking part in this.  1st rough draft of an svg animation... obviously something we'd want behind a rollover or something..

Someone. stop. me.

Alternatively.. worth continuing?   Or someone take over:  http://editor.animatron.com/#p=5701b35445cdc73a19ea98f4&c=2be7f767dfde1a78a4fac102

<img src="http://otterball.com/marionette-anim.svg"  width="177px" >

[2015-01-12 05:01] thejameskyle commented on #54
It looks like it's walking towards me...

[2015-01-12 05:02] paulfalgout commented on #54
Well it's just a puppet.. it's an illusion.

[2015-01-12 05:03] thejameskyle commented on #54
No, you're an illusion.

[2015-01-12 05:05] paulfalgout commented on #54
:ghost:

[2015-01-12 15:37] trezy commented on #54
@paulfalgout I love it! The only thing that bothers me is that the handles are moving wrong. When the handle goes down, the leg should go down, too.

[2015-01-12 15:38] samccone commented on #54
ha more than happy with this for a first pass

[2015-01-12 20:05] megawac commented on #91
Working on it here https://github.com/marionettejs/marionettejs.com/pull/130. Going for something like the examples here: http://www.ractivejs.org/

[2015-01-12 20:15] samccone commented on #91
:clap:

[2015-01-13 05:49] jdaudier commented on #135
I will add it back. I purposely left it off since the logo is close by but then I realized once they scroll, the logo is not so close anymore.

[2015-01-14 03:14] trusktr opened #136 "Generating docs."
Hello, I'm curious to know, are the docs on the new awesome Marionette doc site auto-generated? If so, how? Thanks for the tips in advance!

[2015-01-14 03:18] samccone commented on #136
hi @trusktr thanks for the compliment, the docs are indeed auto generated, @thejameskyle did some great work with grunt and https://github.com/gordonwritescode/gitty and https://github.com/chjj/marked

you can follow along with the nitty gritty implementation details here
https://github.com/marionettejs/marionettejs.com/blob/master/tasks/compile-docs.js#L265

[2015-01-14 03:18] #136 closed

[2015-01-14 06:42] jdaudier opened #137 "Add SVG steps to README"
@paulfalgout just a friendly reminder whenever you have a moment to add the SVG steps. I started it for ya.

Something along these lines:
1. `npm install -g svgo`
2. `svgo filename.svg` to make it really small
3. drop your newly compressed SVG file into the `src/svg-icons` directory
4. run `grunt compile-site` and an updated global SVG file will be created under `src/images/svg-sprite.svg` with yo

[2015-01-14 14:18] #135 closed

[2015-01-14 17:38] jdaudier opened #139 "Non-minified files sometimes getting minified"
backbone.marionette.js - this is currently minified
backbone.marionette.min.js - this is currently NOT minified

![2015-01-14_1235](https://cloud.githubusercontent.com/assets/1666031/5743883/31c9eea4-9bea-11e4-9cf0-cb56b8d1f8fe.png)

[2015-01-14 19:15] jasonLaster commented on #139
nice catch

[2015-01-15 21:43] peterblazejewicz commented on #106
I think `requirements` sounds just terrible. Reminds me Windows software stack, (first one from google search):
http://www.acmefiles.com/FAQ/windowsdefender/143-what-are-the-system-requirements-for-windows-defender
**Ember** has dependencies but does not print them in bold letters. It's enough to show people what to include in header scripts to get basic idea what's required (and let them use Bowe

[2015-01-15 21:45] peterblazejewicz commented on #132
:clap:  works fine in dev now!

[2015-01-15 21:56] jdaudier commented on #106
"Dependencies" perhaps

[2015-01-15 22:02] jmeas commented on #106
Ha, good point, @peterblazejewicz! There's no question in my mind that we should obliterate the word 'requirements' from the site altogether. @jdaudier's suggestion to use "Dependencies" is a good one, I think.

I still contend that these dependencies or requirements or whatever we decide to call them don't belong on the home page tho'

[2015-01-15 22:48] peterblazejewicz opened #142 "Docs permalink icon choice"
I'm not sure if the existing icon (glyph + background) used to render permalink is the best one for context:
![20150115234124](https://cloud.githubusercontent.com/assets/14539/5768351/5087468a-9d10-11e4-856f-b449428d6f97.jpg)
It can be easily located under different context:
http://glyphsearch.com/?query=play
while more context related metaphors are in my opinion:
http://glyphsearch.com/?query=lin

[2015-01-15 22:49] samccone commented on #142
bookmark seems better

thanks again @peterblazejewicz you are killing it!

[2015-01-15 22:50] samccone commented on #142
Come join us here https://gitter.im/marionettejs/marionettejs.com?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2015-01-15 23:06] jmeas commented on #142
Agree @peterblazejewicz. I'm also not sure if the icon should be persistent. I think we could get away with only showing it on hover. For our users, who are likely familiar with Github READMEs, this shouldn't affect the usability of the feature.

I like the bookmark. To borrow even more design from Github, I'm also a fan of a chain icon.

[2015-01-16 04:12] jdaudier opened #143 "Add Examples section"
Add a section called "Examples" above the screencasts section and link to:

* https://github.com/jmeas/gistbook
* https://github.com/samccone/edit.sx-frontend
* https://github.com/thejameskyle/marionette-wires

Inspiration:
http://facebook.github.io/origami/examples/
http://hood.ie/intro/#showcases

[2015-01-16 06:20] trusktr commented on #136
Very cool! Thanks a ton!

*/#!/*JoePea

On Tue, Jan 13, 2015 at 7:18 PM, Sam Saccone <notifications@github.com>
wrote:

[2015-01-16 21:26] peterblazejewicz commented on #142
Similar thread on twbs/bs:
https://github.com/twbs/bootstrap/issues/14897
Sample from other docs:
http://emberjs.com/api/classes/Ember.Application.html#toc_initializers
http://susydocs.oddbird.net/en/latest/settings/#layout

[2015-01-16 22:03] peterblazejewicz opened #144 "Twitter card requires whitelisting (some *paper work*)"
Hi,

I've just tried to validate Twitter card:
https://cards-dev.twitter.com/validator
and some of you guys will have to submit @marionettejs card for whitelisting:
[code]
*edited*: forgot to mention: just log to Twitter validator and when requesting validation for an url information should be shown.

That's common and they discuss topic on devs forum:
https://twittercommunity.com/t/cards-validato

[2015-01-16 22:41] #124 closed

[2015-01-16 23:02] jasonLaster commented on #106
Yup! Let's get another page in soon. I had a PR for a second page, it'll be great. We'll have to add some partials get another guy using the layout.

[2015-01-17 03:05] samccone commented on #144
filled it out!

[2015-01-17 05:41] #137 closed

[2015-01-17 08:37] jdaudier commented on #139
if someone can tell me how to fix this, i can try

[2015-01-17 17:45] peterblazejewicz commented on #139
@jdaudier
The actual files are created by download/copy routine:
https://github.com/marionettejs/marionettejs.com/blob/master/tasks/compile-downloads.sh
This task can be run from repo as grunt task:
[code]
If the actual content is wrong, the download/copy routine is to be investigated.

Thanks!

[2015-01-17 19:54] joshbedo opened #150 "Add marionette cookbook recipes to the www site"
I think it would be very beneficial to add recipes that have been created in the [Marionette-cookbook](https://github.com/MarionetteLabs/marionette-cookbook) to the *www* site. We could potentially create an examples sidebar that shows a few different *flexible* solutions for common problems aiming to be a "This is one way to do it but not the only way" solution for new users. I see a lot of commo

[2015-01-17 21:41] peterblazejewicz commented on #66
:-1:  people search for things on net. The problem is that they use crawlers/search engines:
https://www.google.com/search?q=marionette%20application&rct=j#q=Marionette.Application
http://www.bing.com/search?q=marionette.application&go=Submit&qs=n&form=QBLH&pq=marionette.application&sc=0-11&sp=-1&sk=&cvid=7c6e34a8905f44508c166e6e948bde4c
https://duckduckgo.com/?q=marionette.application&ia=apps
at

[2015-01-17 22:14] peterblazejewicz opened #151 "Add `defer` attribute to landing page script"
The lonely relevant page script tag can be loaded via defer in supported browser I believe:
[code]
At the moment all code is loaded via this script. See relevant:
https://github.com/marionettejs/marionettejs.com/issues/117
It could speed up rendering speed a little. `defer` nicely fall back in non supporting browsers (does nothing). The docs page layout has different script solution.

[2015-01-17 22:25] peterblazejewicz opened #152 "Refactor links in `support` section for UX consistency"
Let me explain:
links in support section of landing page do have icons - but icons are not clickable/interactive:

![20150117231838](https://cloud.githubusercontent.com/assets/14539/5790571/4e4d8038-9e9f-11e4-9a7b-fb4c1fd52761.jpg)

On the same page the same icons are clickable/interactive in main navigation:
![20150117232007](https://cloud.githubusercontent.com/assets/14539/5790575/7e5406ee-9e9f-

[2015-01-17 22:28] jdaudier commented on #152
@peterblazejewicz it's all yours if you want it!

So you're thinking of making the icons under Support interactive, correct?  If so, that works for me.

[2015-01-17 22:30] peterblazejewicz opened #153 "Use the same navigation pattern for contact links [AI/UX]"
People tends to learn, automate interaction, order things - including navigation. Let's decide on order how they should contact Marionette, for example like this:
[code]
![20150117232036](https://cloud.githubusercontent.com/assets/14539/5790595/a88bbc30-9ea0-11e4-9dde-a324d460d6b6.jpg)
![20150117232007](https://cloud.githubusercontent.com/assets/14539/5790596/a8946970-9ea0-11e4-95de-3b9ea01e6cf3.j

[2015-01-17 22:35] samccone commented on #151
:+1: to this

[2015-01-17 22:40] jmeas commented on #151
:+1:

[2015-01-17 22:57] jdaudier commented on #153
Oh, the Gitter one is actually the "Support" link on the header.

[2015-01-17 22:58] peterblazejewicz commented on #153
Yes, I know - I'm writing other ticket for this

[2015-01-17 23:00] peterblazejewicz opened #154 "Consider adding `gitter` to navbar component as icon"
The `gitter` service is very prominent and used extensively. It is present in various navigation patterns:
https://github.com/marionettejs/marionettejs.com/issues/152

But on the navbar it is not there - it is labelled as `support` - so people won't memorize it quickly I think. 'Support` is a very good choice for expected output - but in other places the page is using *gitter* icon and different w

[2015-01-17 23:03] peterblazejewicz commented on #152
@jdaudier Yes, exactly - just to be consistent with other solution and people habits.

[2015-01-17 23:06] jdaudier commented on #154
I'm not sure I like repeating Support and Gitter icon on the header since they both go to the same link.  I kinda like Support going straight to Gitter vs having choices since that's the fastest way to get help.

Let me think about this some more.... thanks for bringing this up!

[2015-01-17 23:07] jdaudier commented on #152
Cool!  All yours @peterblazejewicz

[2015-01-17 23:11] peterblazejewicz opened #155 "@marionettejs #marionettejs - as text somewhere on page [AI]"
There is a problem with letting people learn how to find `@marionettejs` or `#marionettejs` on the Twitter - to be able to do this she needs to click a Twitter logo. There is no text on page with this word (and in the docs). Only crawlers will read @marionettejs from meta.
Existing:
[code]
could be used for this for starter.

Thanks!

[2015-01-17 23:18] jdaudier commented on #139
this is miraculously working now

[2015-01-18 00:05] jdaudier opened #157 "VERSION tag is not the latest"
How do we get the latest version number to show up on the site?

![tag1](https://cloud.githubusercontent.com/assets/1666031/5790849/70712dc8-9e7b-11e4-8ffe-728d2e1dd80c.png)

Seems like maybe something is broken here?

![2015-01-17_1901](https://cloud.githubusercontent.com/assets/1666031/5790854/b10558f0-9e7b-11e4-9639-6281eeebd8bd.png)

![tag](https://cloud.githubusercontent.com/assets/1666031/57

[2015-01-18 00:06] #151 closed

[2015-01-18 00:09] jdaudier commented on #155
How about changing "follow us" to "@marionettejs" like Foundation
![2015-01-17_1909](https://cloud.githubusercontent.com/assets/1666031/5790871/5c46d8ba-9e7c-11e4-9889-24aa65076dfb.png)

[2015-01-18 00:51] samccone commented on #157
Yeah you will want to update your submodule and it should just work :)

[2015-01-18 01:06] jdaudier commented on #54
How about something subtle like this - only when you mouse enter...

**Video of the animation:**
http://screencast.com/t/XKIns9rbZ6

**Animated gif (not as smooth as the video but you get the idea:**
![q6ijyacgjq](https://cloud.githubusercontent.com/assets/1666031/5791019/d5a3d288-9e83-11e4-88cd-714282703ec8.gif)

[2015-01-18 01:46] jdaudier commented on #157
So I just need to add this change to my commit and push? Then when someone deploys, the site will be updated?  I wanna try to deploy when someone is available to back me up in case it breaks like last time.

![img](http://content.screencast.com/users/Joanne_Daudier/folders/Jing/media/6ae36095-dbb6-4346-b7fb-5ddcc684e406/00001170.png)

[2015-01-18 01:46] #157 closed

[2015-01-18 02:08] samccone commented on #54
Yes please

[2015-01-18 02:57] jdaudier commented on #54
ok @samccone just PR'ed

[2015-01-18 04:38] #54 closed

[2015-01-18 09:14] peterblazejewicz commented on #155
:+1:
up to @marionettejs - but that's exactly idea behind this ticket :)

[2015-01-18 19:02] #152 closed

[2015-01-18 19:05] #153 closed

[2015-01-19 05:31] jdaudier opened #162 "404 for jQuery source map"
I see these 2 errors in the console.  Any idea why?

![2015-01-19_0029](https://cloud.githubusercontent.com/assets/1666031/5796252/638d03a0-9f72-11e4-9213-5b8558e2d390.png)

[2015-01-19 05:47] peterblazejewicz commented on #162
We are including jQuery in minimized format which contains inline reference to source map file for supporting browser. So chrome tries to load that source map when dev consoles is open.
To correct this we can either:
- use non-minified version of jQuery in build or:
- just copy jQuery .map file
The second solution will just suppress chrome dev tools error.
More correct is the first one, but then w

[2015-01-19 05:50] jdaudier commented on #162
How about the error in line 4 of build.js?  Any idea about that one?  Something to do with CORS it seems.

![2015-01-19_0029](https://cloud.githubusercontent.com/assets/1666031/5796387/2a987662-9f75-11e4-96fa-d095c7205910.png)

[2015-01-19 05:55] peterblazejewicz commented on #162
One of included script (3rd party I believe) tries to set header for Ajax request(s). As it can be recreated locally it should be easy to spot which one

[2015-01-19 14:27] jasonLaster commented on #150
Yes! But the cookbooks need lots of presentation work to be good. Also you'll see they could get better too m

[2015-01-19 20:17] jdaudier opened #163 "Notifications opt-in"
Was curious if we would ever want to add something like https://mobiopush.com that allows heavy Marionette users to opt-in and receive push notifications from us whenever a new version comes out. I think I would find it useful myself.

![2015-01-19_1513](https://cloud.githubusercontent.com/assets/1666031/5807123/1032a724-9fee-11e4-9b1e-51cab81313aa.png)

![1](https://cloud.githubusercontent.com/as

[2015-01-19 20:49] samccone commented on #163
wow that is crazy ha

[2015-01-19 21:20] peterblazejewicz opened #164 "Drop 3rd party gh3.js from source code"
The main reason is raised by @jdaudier here:

https://github.com/marionettejs/marionettejs.com/issues/162

The 3rd party library is old and uses jQuery props deprecated from 1.9, so it's not future proof.

In addition - the website is using it purely for a single feature: `stargazers`.

The use of this library can be replaced with JSONP call:
[code]
that is:
[code]

The JSONP unathorized access to

[2015-01-19 21:21] peterblazejewicz commented on #162
x-ref: https://github.com/marionettejs/marionettejs.com/issues/164

[2015-01-19 21:36] jdaudier commented on #164
:+1:

[2015-01-19 21:39] samccone commented on #164
:+1:
no need to open issues with the full diff, you can just open PR's :D

thanks for the great work @peterblazejewicz !

[2015-01-19 22:07] peterblazejewicz opened #165 "Copy jquery.min.map to dist as temp fix for #162"
May we do following change to remove warning from at least Chrome dev tools about source.map?
See:
https://github.com/marionettejs/marionettejs.com/issues/162

[code]
At the current version the jQuery is copied as is and as minified version. We do not minify files - so jQuery comes with its own declaration for source map:
[code]
Browsers keep trying to load this file which is missing in `dist`.
Ad

[2015-01-20 20:23] #164 closed

[2015-01-22 18:45] jasonLaster opened #168 "Create an Inspector Promo page"
We should create a promo page, promo section, and link in the header for the inspector.

There's tons of content in the inspector README to base the copy off of. Also, all of you guys have used the Inspector so are qualified to describe it's benefits / features / super powers.

https://github.com/marionettejs/marionette.inspector

[2015-01-22 18:52] samccone commented on #168
:+1: to this

[2015-01-22 18:56] kkemple commented on #168
:+1:

On Thu Jan 22 2015 at 1:52:04 PM Sam Saccone <notifications@github.com>
wrote:

[2015-01-22 20:53] jasonLaster commented on #168
http://media.giphy.com/media/f2fX7GtXh1nbi/giphy.gif

Forgot to mention, the inspector also has a snazzy logo which we can use

[2015-01-23 12:08] jdaudier commented on #116
thanks @peterblazejewicz for fixing this!

[2015-01-23 12:08] #116 closed

[2015-01-23 14:06] samccone commented on #116
:clap:

[2015-01-23 14:41] jdaudier opened #170 "Automate SVG steps"
I feel like the [first two steps](https://github.com/marionettejs/marionettejs.com/blob/master/svg-steps.md) of the SVG process can be automated with this [grunt task](https://github.com/sindresorhus/grunt-svgmin) perhaps?

So that all we have to do is drop a SVG file into the `src/svg-icons` directory and it'll be minified after running a grunt task.

Thoughts? @paulfalgout

[2015-01-23 17:05] cmaher opened #171 "Meetup videos should be above screencasts"
It makes more sense to show free videos above paid content.

[2015-01-23 17:10] samccone commented on #171
yes plz

[2015-01-23 19:49] peterblazejewicz commented on #170
@jdaudier
Something like this?
[code]
[code]

- add grunt-svgmin to deps
- add svgmin task to grunt file and wire it up to be run before svgstore

I can upload a branch so you could play with it (and then could do PR)

Thanks!

[2015-01-23 19:53] paulfalgout commented on #170
Hmm so I think the first 2 steps are optional.  svgo will strip a bunch of stuff out of your svg.. and sometimes you do want those things..  But for people copying some random vector from an illustrator created svg or something similar it'll remove a bunch of the added junk that won't be used.

Perhaps we should just change the instructions so that step 1 says something like

[2015-01-23 20:17] jdaudier commented on #170
@peterblazejewicz if you can load up a branch, that'll be great. I'm not super familiar with writing gruntfiles so that'll be helpful.

@paulfalgout will look at @peterblazejewicz's branch and get back to ya. Tks!

[2015-01-23 20:20] peterblazejewicz commented on #170
@jdaudier here:
https://github.com/peterblazejewicz/marionettejs.com/tree/add/grunt-svgmin

[2015-01-25 04:54] paulfalgout commented on #170
Yeah I think I'm :-1: on this, but perhaps I could be convinced otherwise.

On the one hand, having this reduces any need for concern about optimizing the svgs and it makes it consistent.

On the other hand, the optimization is nice, but in the end moderately insignificant.  And while it's typically ideal to optimize, there are so many different ways to use svg, and svgo has to be customized diffe

[2015-01-27 03:03] jdaudier commented on #170
hi @paulfalgout and @peterblazejewicz - sorry I didn't get a chance to review this yet... maybe in the next few days.  i just got my laptop back after lending it to a friend.

[2015-01-27 11:19] jdaudier commented on #108
note to self
![2015-01-27_0616](https://cloud.githubusercontent.com/assets/1666031/5917585/53e4f8ce-a5ec-11e4-9c10-dca06e42a534.png)

[2015-01-27 20:12] peterblazejewicz commented on #108
- [ ] add some default dimensions to ux elements using `min-width`, for example:

![20150127204649](https://cloud.githubusercontent.com/assets/14539/5925693/b94d9882-a665-11e4-9b03-900769070b19.jpg)

- [ ] watch for margins:

![20150127204933](https://cloud.githubusercontent.com/assets/14539/5925767/3b03a9ac-a666-11e4-9e45-c9971783aaca.jpg)

![20150127205231](https://cloud.githubusercontent.com/as

[2015-01-28 03:44] samccone opened #172 "Add a"

[2015-01-28 03:45] thejameskyle commented on #172
a

[2015-01-28 03:49] jmeas commented on #172
ROFL

[2015-01-28 20:39] #171 closed

[2015-01-28 22:34] peterblazejewicz opened #175 "Enable source map in Sass/Autoprefixer tasks during development"
Can we enable source map being generated by Sass and then by PostCSS Autoprefixer plugin?

http://www.sitepoint.com/using-source-maps-debug-sass-chrome/

The entire change in source code will be:
[code]
After this change different files would be generated in `dist` and `dev` targets:
In `dist` target (used in compile targets):
[code]
while in `dev` target:
[code]

This change would enable source m

[2015-01-28 23:25] jasonLaster commented on #172
Yep! Great idea, noticed that was a question that came up in jabber!

[2015-01-28 23:36] samccone commented on #172
:)

[2015-01-29 03:04] samccone commented on #175
yeah man this sounds awesome! and looks awesome open up a PR on that branch!

[2015-01-29 03:09] samccone commented on #165
yes yes yes!

@peterblazejewicz you want to PR this or want me to?

----

I trust you enough to just open the PR's :D

[2015-01-29 03:34] lupinskij commented on #175
:+1:

[2015-01-29 03:56] jdaudier commented on #175
:+1: I need to be as productive as you @peterblazejewicz

[2015-01-29 04:00] samccone commented on #175
he is a real machine

[2015-01-29 16:14] jdaudier commented on #168
a page page or something like this (modal) for the Inspector? http://codyhouse.co/demo/morphing-modal-window/index.html#0

[2015-01-30 15:31] cmaher opened #178 "Add a link to the inspector high on the page"
Right now, the only link is below Jason's talk, way down. I'm not sure where exactly the link should go, but I think it's important enough to be up high (maybe it should have its own section?)

[2015-01-30 15:47] samccone commented on #178
:+1:

[2015-01-30 16:33] #175 closed

[2015-01-30 18:01] paulfalgout commented on #139
Actually cloudflare is sometime minifying our non-minified versions

[2015-01-30 18:05] paulfalgout commented on #139
@samccone @thejameskyle We need to exclude our downloadables.

https://support.cloudflare.com/hc/en-us/articles/200172316-How-do-I-exclude-a-specific-URL-from-CloudFlare-s-caching-

[2015-01-30 19:12] MeoMix opened #179 "childEvents not supported in behavior.. other options? Is this an oversight? Am I dumb?"
My goal is for a behavior attached to a CollectionView to be able to know which ChildView was just interacted with by the user. It does not appear that this is currently possible.

Here's an example: http://codepen.io/Meo/pen/XJaGxo

And here's the code I'm trying:

	var CollectionViewBehavior = Marionette.Behavior.extend({
	  //  Does NOT run:
	  childEvents: {
		'do:stuff': function(args){
		  c

[2015-01-30 19:17] samccone commented on #179
mind reopeneing on backbone.marionette repo plz

[2015-01-30 19:17] #179 closed

[2015-01-30 19:19] MeoMix commented on #179
Oh. I need more coffee. Sorry.

[2015-01-30 19:25] #139 closed

[2015-01-30 20:54] peterblazejewicz commented on #178
What about refactoring docs/downloads into something like docs/downloads/tools (inspector)?:
Just a web page live edit:

![20150130215208](https://cloud.githubusercontent.com/assets/14539/5983103/5e46122c-a8ca-11e4-864c-c3e7f6b824dd.jpg)

The `Inspector` is obviously a link to relevant project (maybe project website in future) and section should have adequate copy about inspector + link to install

[2015-01-30 21:27] peterblazejewicz opened #181 "Small devices menu corrections"
On small screens the menu could show either tags or at@ textual context for users:

Current version:

![20150130222014](https://cloud.githubusercontent.com/assets/14539/5983562/bd1cef9c-a8ce-11e4-8c0b-406667bd04d1.jpg)

The Twitter's and GitHub's icons come without textual context - it can be hidden on horizontal menu but we could show it easily on small screens to put users into context/action:

[2015-01-31 01:37] samccone commented on #181
:+1: I like the left version

[2015-01-31 16:17] peterblazejewicz opened #184 "Start using data driven templates for videos, books and companies sections"
I've been checking today how to improve indexing non-text features on web page like videos, books and companies information  - so people can find information when using search engines. I though about adding meta data/schemas - but I think it would be a very tedious task at the current implementation of these sections as they are static, with data information embedded into markup, etc. So any chang

[2015-01-31 16:19] peterblazejewicz commented on #184
Example branch is here:
https://github.com/peterblazejewicz/marionettejs.com/tree/wip/data-driven-templates

[2015-01-31 17:18] paulfalgout commented on #184
:+1:

[2015-01-31 22:25] #117 closed

[2015-02-01 01:51] jdaudier commented on #184
:+1:

[2015-02-01 15:52] samccone commented on #184
yes plz, good call @peterblazejewicz :+1:

[2015-02-01 16:29] peterblazejewicz commented on #184
NTS: The video attributes should be based on YouTube JSON/JSONP naming conventions:
[code]
https://developers.google.com/youtube/2.0/developers_guide_jsonc

[2015-02-01 17:01] peterblazejewicz commented on #184
NTS: video has optional external `link` with `url`/`title` like in Markdown/Wiki:
[code]
http://daringfireball.net/projects/markdown/syntax#link
to order to get this:
[code]

[2015-02-01 19:58] samccone opened #186 "Add a task to auto update submodule"
this is an annoying part of the release cycle, it should be pretty simple to make sure we have the latest via grunt command

[2015-02-01 20:10] peterblazejewicz commented on #186
for the records: jQuery has been using Grunt for submodules with this:
https://github.com/jquery/jquery/commit/d01253e20158f53c08aa6bc0c1cf66806cd19148
https://github.com/jaubourg/grunt-update-submodules
This was before they switched to use Bower based dependencies during build:
https://github.com/jquery/jquery/pull/1358

[2015-02-02 00:27] #184 closed

[2015-02-02 23:11] samccone opened #190 "Add a release date under the download button"

[2015-02-02 23:15] jmeas commented on #190
:+1: :calendar:

[2015-02-03 18:59] peterblazejewicz commented on #190
How to get release date via code? via `gitty`?
![20150203195839](https://cloud.githubusercontent.com/assets/14539/6026963/1c385094-abdf-11e4-829c-732576eeb4e6.jpg)

[2015-02-03 19:01] samccone commented on #190
yeah something like that @peterblazejewicz

(also @peterblazejewicz you should hang in the gitter room)

[2015-02-03 19:01] thejameskyle commented on #190
I don't think the `*` is necessary.

[2015-02-03 19:02] samccone commented on #190
@peterblazejewicz for the date... I think we will want to hook into the tag and get the date of the commit that the tag is on

[2015-02-03 19:26] peterblazejewicz opened #191 "Difference between brand/logo usage/coloring"
There is a clear visual difference between M logos + with text use here and on library repository:

https://github.com/marionettejs/backbone.marionette/blob/master/readme.md

![20150203201012](https://cloud.githubusercontent.com/assets/14539/6027466/b359eaac-abe2-11e4-9995-8ddb0c6f265e.jpg)

http://marionettejs.com/

![20150203200938](https://cloud.githubusercontent.com/assets/14539/6027471/b8ab62

[2015-02-03 19:26] samccone commented on #191
yeah I think this is just a general treatment difference, but good call I think it should be consistent

[2015-02-03 19:34] thejameskyle commented on #191
I prefer to use the later.

[2015-02-03 19:35] samccone commented on #191
yep +1 later

[2015-02-03 22:55] peterblazejewicz opened #192 "Add micro data meta tags to videos section to expose video content to the world"
At the moment the videos section is only known as such for people (and machines) who can see things on page. There is a title and within each `video` spot markup there is a plain text paragraph (which is good for people who can read and for robots). But there is no text context with images that would eventually became videos to let page expose that information.
As I mentioned in already merged PR:

[2015-02-04 21:49] peterblazejewicz commented on #144
@samccone
I think it needs to be redone. But after this PR is merged:

https://github.com/peterblazejewicz/marionettejs.com/commit/8546bae4f1031282be1e855934fe9c64f2e247c3

[2015-02-04 23:48] samccone commented on #144
hmm poo ok will do

[2015-02-05 03:44] samccone opened #195 "Look at integrating russian translation work"
https://github.com/instanceofpro/marionettejs.ru/issues/34
http://instanceof.pro/marionettejs.ru/

@instanceofpro has been killing it and I want to find a way to integrate his work!

[2015-02-05 04:16] samccone commented on #144
odd @peterblazejewicz

I reapplied after a fresh deploy and looks like we are still having issues

![screen shot 2015-02-04 at 11 15 51 pm](https://cloud.githubusercontent.com/assets/883126/6054976/d544f846-acc3-11e4-95f9-66ec67dc9969.png)
![screen shot 2015-02-04 at 11 15 13 pm](https://cloud.githubusercontent.com/assets/883126/6054975/d5407546-acc3-11e4-84d9-7013b267cb51.png)

[2015-02-05 04:43] instanceofpro commented on #195
how can i integrate my translation?

[2015-02-05 04:45] samccone commented on #195
hi @instanceofpro great question, I would love to figure out a good solution. I have a feeling that we have some people in the community that have some strong opinions on the best way to do this. I will reach out and see.

[2015-02-05 17:18] peterblazejewicz commented on #144
@samccone if still not approved can you wait a 24h - they could have a cached version (or anything).
If not I could append a post to this thread:
https://twittercommunity.com/t/warn-not-whitelisted-whitelist-request-was-approved-18-days-ago/25756
which people are using to fix problems with valid cards and whitelisting recently.
LGTY?

[2015-02-05 17:19] samccone commented on #144
yeah ill redo it tonight

[2015-02-06 04:00] jdaudier opened #196 "Add Hotjar for heatmap?"
I got us a free lifetime account for [Hotjar](http://www.hotjar.com). Are you ok with me adding this to the site to see if it's helpful or not?  If not, we can always remove it later. Thoughts?

![2015-02-05_1953](https://cloud.githubusercontent.com/assets/1666031/6074336/e97df2c4-ad70-11e4-8e4f-d13cbb659e96.png)

[2015-02-06 07:10] jdaudier commented on #163
Or we can do something in one of these styles for something more subtle
http://tympanus.net/Development/NotificationStyles/bar-exploader.html

[2015-02-06 07:20] peterblazejewicz commented on #196
:+1:
I'd only check if they require adding their script in the header. We put everything on the bottom and asynchronously.

[2015-02-06 09:37] jdaudier commented on #196
Yes, the script is added into the `<head>` tag of every page we want to track.

http://inside.hotjar.com/support/solutions/articles/1000126936

Even though the Hotjar tracking code needs to be included at the top, the script itself will still load asynchronously. They use the same code loading technique that Google Analytics uses to ensure that site speed is not affected.

[2015-02-06 11:43] peterblazejewicz commented on #196
That does not matter - we should keep in mind that their code will block rendering if loaded before entire page is loaded and parsed fully:
http://www.growingwiththeweb.com/2014/02/async-vs-defer-attributes.html
This is why we use `defer`. Let's keep this in mind. Otherwise they could be helpful

[2015-02-06 20:15] peterblazejewicz commented on #196
@jdaudier It can be useful - we have different UI user experience on different screens - some content is deliberately hidden and not accessible - so that could be interesting to see how people interact with content/web site.

[2015-02-06 20:53] peterblazejewicz opened #197 "fix navigation hotspot in docs"
I've seen on Twitter that people are using docs:https://twitter.com/_baconscript/status/56228870853233868
Here is a little bug UX in docs to fix:
- the clickable area between links are not equally spaced vertically, clearly visible with custom spots - target one link but fire another one.

![navigation](https://cloud.githubusercontent.com/assets/14539/6087300/0138e21e-ae4a-11e4-82e0-f29673c6455b.g

[2015-02-06 21:45] peterblazejewicz commented on #195
I've been using (and writing client side/server side code) for:
https://www.transifex.com
which has free plan for open source (no limits).
The @TryGhost team is using other service - which also has open source plans:
https://crowdin.com/page/in-action
They could look like to big guns for a project, but let's check them.

Crowdsourced projects I've been translating with different solutions for stri

[2015-02-06 22:18] #197 closed

[2015-02-08 19:41] #178 closed

[2015-02-08 19:45] peterblazejewicz commented on #168
ng-inspector used to have clean, descriptive promo page:
http://ng-inspector.org/

[2015-02-08 19:58] samccone commented on #168
oh wow that looks realllllllly nice @peterblazejewicz

ping ping ping @lupinskij

[2015-02-08 21:41] jasonLaster commented on #168
Nice

[2015-02-08 22:51] peterblazejewicz opened #204 "Broken links in companies (404)"
Can we contact and verify these links? (I've verified manually too as broken):
https://www.shopetti.com/
https://github.com/marionettejs/marionettejs.com/blob/master/src/sections/_companies.jade#L171

https://www.onehealth.com/
https://github.com/marionettejs/marionettejs.com/blob/master/src/sections/_companies.jade#L132

[2015-02-08 23:51] samccone commented on #204
yep lets just delete them I suppose

[2015-02-09 15:29] samccone opened #205 "Update todomvc sidebar copy"
http://todomvc.com/examples/backbone_marionette/

https://github.com/tastejs/todomvc/blob/942f990aa4622d5ee9fb974963bcd3b98a2a1618/learn.json#L1449-L1497

-------

Looks like the links are incorrect, examples are bad just needs some cleanup

[2015-02-09 15:35] jmeas commented on #205
Mmm, I think we should move away from that language when describing Marionette. It's not really saying much. Every framework is composite, and every framework aims to simplify the construction of large-scale Javascript applications. That quote is literally true for *every single Javascript framework out there*.

[2015-02-09 15:41] samccone commented on #205
yep I agree @jmeas

[2015-02-09 15:43] jmeas commented on #205
OHHH i completely misread this issue title. I thought it was saying "Use todomvc sidebar copy"

i need to wake up

brb

:sunrise:

[2015-02-09 18:45] samccone commented on #205
[code]

[2015-02-09 20:18] peterblazejewicz commented on #205
:+1: inspector link
:+1: gitter link
:+1: YouTube *dancing* group link
:-1: https://github.com/marionettejs/backbone.marionette/wiki and others

We could just make a WIP branch with commits and discuss in topic branch before PR

[2015-02-09 20:20] samccone commented on #205
I think we can use this description

`Marionette simplifies your Backbone application code with robust views and architecture solutions.`

[2015-02-09 20:55] #204 closed

[2015-02-09 22:12] samccone commented on #168
![untitled-1](https://cloud.githubusercontent.com/assets/883126/6116944/bdaee34a-b07e-11e4-9821-5e1c4af55322.jpg)

@lupinskij for the gold

[2015-02-09 22:15] samccone commented on #168
This should prob should be a html5 video for that extra wow

[2015-02-09 22:16] thejameskyle commented on #168
I was thinking silverlight video actually

[2015-02-09 22:16] samccone commented on #168
<object> prob

[2015-02-09 22:21] jdaudier commented on #168
fresh!  so there'll be a link to this page from the homepage I assume?

[2015-02-09 22:59] peterblazejewicz commented on #168
I think that Inspector should get prominent location - even replacing an item in navbar menu
@jdaudier heat maps can be helpful here (and any other analytics)

[2015-02-09 23:26] samccone commented on #168
I'm excited for the map because then we can finally start removing features with some degree of confidence

[2015-02-10 15:53] samccone opened #209 "Internationalization Work"
It is finally time that we start the effort to start translating documentation and site content for Marionettejs.com

If you are interested in supporting the cause leave your email  and language below and I will invite you to the tool that we are using!

Or sign up here
https://www.transifex.com/organization/marionettejs

-----

We are using a tool from www.transifex.com

![screen shot 2015-02-10

[2015-02-10 15:54] samccone commented on #195
hey @instanceofpro @peterblazejewicz closing and moving to
#209

[2015-02-10 15:54] #195 closed

[2015-02-10 16:10] XescuGC commented on #209
Hi!, I'm from Barcelona (Spain) so I can help with the translations on Spanish and Catalan. I've never used a tool but this one (transifex) looks good.

[2015-02-10 16:12] eduardojmatos commented on #209
Hi @samccone , I shall be happy to help translate to portuguese (eduardoj.matos@gmail.com).

[2015-02-10 16:16] samccone commented on #209
@eduardojmatos :white_check_mark:
@XescuGC can you leave your email and I will add you to the spanish team?

[2015-02-10 16:20] JSteunou commented on #209
Totally up for french translation!

[2015-02-10 16:20] samccone commented on #209
@JSteunou can you leave your email I will add you

[2015-02-10 16:21] ingro commented on #209
Hello, I can help with italian If you need! :) (ingro85@gmail.com)

[2015-02-10 16:24] samccone commented on #209
:white_check_mark: @ingro

[2015-02-10 16:27] XescuGC commented on #209
my email is (xescugil@gmail.com)

[2015-02-10 16:28] samccone commented on #209
@XescuGC :white_check_mark:  thanks!

[2015-02-10 16:31] JSteunou commented on #209
@samccone find my way into transifex

[2015-02-10 16:32] Spy-Seth commented on #209
It seems you haven't upload any phrases or word for now. It's normal ?

[2015-02-10 16:35] samccone commented on #209
ah it does look incorrect @Spy-Seth investing how to get those in...

[2015-02-10 16:37] Poplava commented on #209
I can help with Ukrainian or Russian! igor.poplava@gmail.com

[2015-02-10 16:43] samccone commented on #209
kk @Spy-Seth all good to go now :white_check_mark:

[2015-02-10 16:45] samccone commented on #209
@Poplava added to Russian and Ukrainian :white_check_mark:

[2015-02-10 16:50] samccone opened #210 "Add Internationalization snippit"
[code]

[2015-02-10 17:07] instanceofpro commented on #209
+1 for RU :)

[2015-02-10 17:28] samccone commented on #110
as another kicker @instanceofpro pointed out that this font does not have a Cyrillic counter part ... which makes a russian translation tricky....

[2015-02-10 17:31] jmeas commented on #110
I'm not going to spend any more time on changing the www, so we can close this if we wan'

[2015-02-10 17:32] samccone commented on #110
its ok @jmeas we are going to change it :+1:

[2015-02-10 17:34] instanceofpro commented on #110
I suggest http://www.google.com/fonts/specimen/Open+Sans

[2015-02-10 17:34] samccone commented on #110
:+1:

[2015-02-10 17:40] samccone commented on #209
:white_check_mark: @instanceofpro

[2015-02-10 17:50] Spy-Seth commented on #209
So we have the site and the docs on one big file ? :scream:

It's possible to split it a little more ? Separate the website, the documentations and the annotated source for example.

[2015-02-10 17:55] samccone commented on #209
@Spy-Seth from my research the embed code from  www.transifex.com is smart and will do a per page + per locale request when looking up the strings to replace. Thus not really 1 large file :+1:

[2015-02-10 18:24] instanceofpro commented on #209
@samccone What about different versions (1.x.x, 2.x.x, 3.x.x)?

[2015-02-10 18:30] samccone commented on #209
yeah @instanceofpro I can add the latest 1.x.x docs ... will do now

[2015-02-10 18:39] instanceofpro commented on #209
@samccone does www.transifex.com provide a version control for translations?

[2015-02-10 18:40] samccone commented on #209
:white_check_mark: 1.8.8. docs added

[2015-02-10 18:40] samccone commented on #209
@instanceofpro what do you mean by version control?

[2015-02-10 19:00] instanceofpro commented on #209
@samccone we translate docs corresponds to v2.3.2 (current version).
how will we translate when the v3.0.0 will be released?

[2015-02-10 19:03] samccone commented on #209
Ah I see what you are saying @instanceofpro

So the way that this tool works is that it looks at blocks of text and sees if they have changed, so in v3 some new text will need to be translated but most of it will carry over from the work that we have done before.

The translations are not per page, rather per block of text. It is really quite awesome!

[2015-02-10 19:06] peterblazejewicz commented on #195
:+1:

[2015-02-10 19:08] peterblazejewicz commented on #209
@samccone I'll add my Transifex account and will help with Polish (pl_Pl). For some reason my Transifex account is blocked (i've already sent them support ticket) - once reset I'll simply join project.
Thanks!

[2015-02-10 19:08] samccone commented on #209
awesome!

:white_check_mark: `pl_PL`

[2015-02-10 19:52] peterblazejewicz commented on #110
:+1:
I've been using OpenSans - for small details we could later add hand-crafted small font.
The fonts outlines for different languages can be fetched asynchronously I believe

[2015-02-10 19:58] peterblazejewicz commented on #210
just for reference:
http://docs.transifex.com/developer/live/

[2015-02-10 20:03] #196 closed

[2015-02-10 20:28] vladmd commented on #209
I can help with Romanian

[2015-02-10 20:31] samccone commented on #209
@vladmd what is your Email ... I will invite you

[2015-02-10 20:39] samccone commented on #209
:white_check_mark: @vladmd
thanks!

[2015-02-10 21:58] samccone commented on #209
@vladmd come join us in chat https://gitter.im/marionettejs/marionettejs.com?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2015-02-10 22:00] peterblazejewicz commented on #196
@jdaudier Hotjar impact on web site speed is neglectable:
http://tools.pingdom.com/fpt/#!/JWACZ/http://marionettejs.com/

[2015-02-10 22:02] jasonLaster opened #213 ""Add your Company""
![](http://f.cl.ly/items/2q2e3v121Y2e0W2R1l1M/Image%202015-02-10%20at%205.01.40%20PM.png)

We should have an "Add Your Company" link that takes them to this page
https://github.com/marionettejs/marionettejs.com/edit/master/src/sections/_companies.jade

[2015-02-10 22:23] peterblazejewicz commented on #213
:+1:
also: decide UX problems here:
- [ ] the section is hidden under 600px - so no submission visible on small screens (why?/why not?)
- [ ] https://github.com/marionettejs/marionettejs.com/issues/128
(that `plus` sign has `add` meaning already)

[2015-02-10 22:47] jdaudier commented on #213
@peterblazejewicz
I like no submission on small screens 'cuz it's prob unlikely situation to have a good logo on  your phone =)

We could perhaps use a "Your Company" or "You" placeholder image that they click on as the last "logo" for adding.

[2015-02-11 01:57] samccone opened #214 "Rethink layout for root documentation page"
Since our current doc page has a table of contents people seem to think the correct place to start is at the top (and I don't blame them)

![screen shot 2015-02-10 at 8 54 24 pm](https://cloud.githubusercontent.com/assets/883126/6140541/3ac21d3c-b167-11e4-9197-fe0424917063.png)

When the reality is the Application object is a pretty weak way to start off understanding how marionette works.

I prop

[2015-02-11 10:42] samccone opened #215 "Long String Translation breaks several elements on the page"
For instance

- [x] `View Docs` in Russian is
`Посмотреть документацию`

and in French it is
- [x] `Voir la documentation`

We need to tweak the styles to handle this

[2015-02-11 18:31] peterblazejewicz commented on #213
I think it can't go this way adding placeholder as last item - the list is long one and most of items is hidden by default, either user never click to reveal the rest of the list or she never scroll down.
I"d rather add plain, old button element (styled) in the same line as section header for this action, just like on GitHub issues with modifications, e.g.:
![20150211190818](https://cloud.githubus

[2015-02-11 19:13] peterblazejewicz commented on #214
I think docs needs its own embedded landing page, that quickly guides users between different docs topic. Angular has one:

https://github.com/angular/angular.js/blob/master/docs/content/guide/index.ngdoc
https://docs.angularjs.org/guide

In case of polymer one could read entire basic knowladge from the landing page embedded into context of docs (just like in angular):
https://github.com/Polymer/d

[2015-02-11 19:18] peterblazejewicz commented on #215
Translations always break web pages. Let's log it here

[2015-02-11 19:54] jdaudier commented on #213
I like the idea but don't like the position of that line... maybe to the top right instead of top left? Or below the "Companies Using Marionette" Hmm...

I'm also thinking about obvious do we want to be since we prob don't want to end up with *too* many logos.

[2015-02-11 20:04] peterblazejewicz commented on #213
I know - but we have `a scroll to top`, which is nice, but contradict and controversial UX pattern - it will overlap UI elements on the right side.

[2015-02-11 20:11] peterblazejewicz opened #216 "Log section to hide or change from Transifex Live translation here"
Hi,

As reported on Gitter:

Please log into this thread any part of Marionette web page you find should be excluded from automatic translation process.

We could instruct Transifex automated process which parts to avoid, exclude or use special `data-` attributes to provide custom English base word:
http://docs.transifex.com/developer/live/webmasters

- [x] stargazers (updated dynamically at runti

[2015-02-11 22:32] jdaudier commented on #213
How about below the "Companies Using Marionette" line?

[2015-02-11 22:54] peterblazejewicz commented on #213
:+1:

[2015-02-12 01:06] samccone commented on #213
:+1:

[2015-02-12 09:47] Spy-Seth opened #220 "Missing strin in transiflex"
The `more` and `less` string in `Companies Using Marionette` section are missing on Transiflex.

![screenshot](http://cl.ly/image/1m3S0q422m3x/Image%202015-02-12%20at%2010.44.15%20AM.png)
![screenshot](http://cl.ly/image/06272u332s3c/Image%202015-02-12%20at%2010.44.22%20AM.png)

[2015-02-12 14:51] samccone commented on #220
I added the missing less and more

thanks for the catch @Spy-Seth !!!!

[2015-02-12 14:51] #220 closed

[2015-02-12 15:41] samccone opened #222 "Analyse home page heatmap"
http://insights.hotjar.com/static/heatmap/html/shared-heatmap.html?site=13560&heatmap=30964&token=e805f16d638a8f62e8415106160f32f3#?type=click&width=1280

Based on what I see here, I think we can move things, and change how elements work to better deliver what people want on the site.

[2015-02-12 16:07] mindrones opened #224 "Shorten page titles + missing favicon on doc pages"
If you open many tabs of the documentation it's difficult to find the one you're looking for, because tabs tend to shrink and you can't see the most interesting part of the title:
• title is: `marionette.application - Marionette.js Docs`
• I just see: `marionette.a` or less

Also, the only page showing the Marionette logo as favicon is http://marionettejs.com/

It would be nice to have like:
- [Ap

[2015-02-12 16:11] samccone commented on #224
hi @mindrones thanks for the awesome issue,

are you interested in opening a PR, would love to get you into the fold.
Hop into gitter and we can chat https://gitter.im/marionettejs/marionettejs.com?utm_source=share-link&utm_medium=link&utm_campaign=share-link

Anyway thanks so much!

[2015-02-12 16:48] samccone commented on #216
fixed!

[2015-02-12 16:48] #216 closed

[2015-02-12 16:50] JSteunou commented on #215
We can translate "View Docs" by just "Docs" or "Documentation", will be shorter. But it's a one shot solution.

[2015-02-12 20:20] peterblazejewicz commented on #216
Thanks!

[2015-02-12 20:20] #215 closed

[2015-02-12 20:21] samccone opened #226 "Automatic deploys"
This would be handy, I think it should not be so hard to set something up on push to master

[2015-02-12 20:24] peterblazejewicz commented on #215
@JSteunou we will iterate design details keeping in mind different lengths now (I've just added clipping, overflowing or hinted min width for links/buttons we will expand in future iteration)

[2015-02-12 20:30] samccone commented on #215
yeah @JSteunou Docs or Documentation is a fine translation that is what @instanceofpro ended up doing for Russian

[2015-02-12 20:45] samccone commented on #214
http://insights.hotjar.com/static/heatmap/html/shared-heatmap.html?site=13560&heatmap=30965&token=fbbded4b6f5dd5f3a2b5e1237d15455e

[2015-02-12 20:48] peterblazejewicz commented on #224
These actually are bugs I think:
- [ ] title of page is supposed to be generated as expected I think:
https://github.com/marionettejs/marionettejs.com/blob/master/tasks/compile-docs.js#L93-L104
- [ ] the icon is there but not linked
I'll fix the second now, so we could re-title issue and investigate title generation (`title` is within `yaml` file - ready to be used later).

[2015-02-12 20:51] samccone opened #227 "Move changelog into an internal page"
There is no reason that people should have to leave the site to go and see this content. we should pull it into the site.

[2015-02-13 00:31] jasonLaster commented on #226
Cool

[2015-02-13 02:42] #226 closed

[2015-02-13 08:48] Spy-Seth commented on #214
I agree with the need to a specific landing page for the doc. A tree rows/colums layout with an introduction for each is a good start.

The view section will be big, maybe it will need to be split in two part : basic view and advanced view.

[2015-02-13 14:37] #224 closed

[2015-02-13 21:11] peterblazejewicz commented on #144
subitted to Twitter devs:
https://twittercommunity.com/t/warn-not-whitelisted-whitelist-request-was-approved-18-days-ago/25756/51?u=blazejewicz

[2015-02-13 21:14] peterblazejewicz commented on #24
Can we close this? The page is under constant re-development as of time of writing.

[2015-02-13 21:14] samccone commented on #144
:+1: @peterblazejewicz

[2015-02-13 21:15] samccone commented on #24
I agree

[2015-02-13 21:15] #24 closed

[2015-02-13 21:17] trezy commented on #24
Absolutely, I haven't touched the refactor since it became a rebasing nightmare.

[2015-02-13 22:01] peterblazejewicz commented on #144
update: moved to new thread at Twitter dev request:
https://twittercommunity.com/t/warn-not-whitelisted-whitelisting-problem/32261

[2015-02-13 22:06] peterblazejewicz commented on #107
x-ref:
https://github.com/marionettejs/marionettejs.com/pull/229

[2015-02-13 22:10] samccone opened #232 "Figure out how to show the marionette logo in our google card"
Due to the amazing work by @peterblazejewicz we now actually show up in google with a card view!!

![screenshot 2015-02-13 17 05 24](https://cloud.githubusercontent.com/assets/883126/6196093/1375e004-b3a3-11e4-844d-6340ef26be55.png)

I would love for our image to be our logo now :+1: we should figure out how we can feed the googlebot.

cc @addyosmani

[2015-02-13 22:11] peterblazejewicz commented on #214
x-ref:
https://github.com/marionettejs/marionettejs.com/issues/75

[2015-02-13 22:35] peterblazejewicz commented on #232
Thanks!

[2015-02-14 00:00] peterblazejewicz commented on #232
We could try to use `image` micro data tag to specify our image via adding additional meta data:
- [ ] add top-level schema org to html tag - as in Google snippet tool examples:
https://developers.google.com/+/web/snippet/
But - are we:
- [WebSite](http://schema.org/WebSite)
- [Code](http://schema.org/Code)
- [Organization](http://schema.org/Organization)
?
WIP

[2015-02-14 00:12] peterblazejewicz opened #233 "Flattr.com script inclusion #permatters"
Is Flattr.com com used by web site at the moment? I can see in history that script inclusion dates to the very first commits - but I cannot find how it is used
#perfmatters

[2015-02-14 00:50] peterblazejewicz opened #234 "Inline SVG logo/text in above the fold section #perfmatters"
Let's try to improve page speed rendering by minimizing number of request of above the fold content:
- [x] inline brand image svg via data:image conversion
- [x] inline brand text svg via data:image conversion

This is supposed to optimize rendering speed by minimizing number of requests required to render ATF content (as per Google screenshot):
![20150214014614](https://cloud.githubusercontent.co

[2015-02-14 01:20] #234 closed

[2015-02-14 01:21] samccone commented on #234
@peterblazejewicz Literally God mode

[2015-02-14 01:21] jmeas commented on #234
this might be unresolved. I expect there's more to #235 than inlining a few imgs

[2015-02-14 16:37] samccone commented on #78
not a big deal now since CI does the deploying

[2015-02-14 16:37] #78 closed

[2015-02-14 17:25] peterblazejewicz commented on #233
closed via:
https://github.com/marionettejs/marionettejs.com/commit/c9a570533fd2d72ab06e70ddc83ef8fd4a2136b8

[2015-02-14 17:25] #233 closed

[2015-02-14 21:01] peterblazejewicz opened #245 "Refactor code section in SM resolutions"
There are some rough *edges* under sm resolutions to fix:

![20150214215843](https://cloud.githubusercontent.com/assets/14539/6201047/e1744b66-b494-11e4-82ea-6659b7455944.jpg)

[2015-02-15 15:01] peterblazejewicz commented on #222
- [x] Remove twitter from header area #241

[2015-02-15 15:13] #210 closed

[2015-02-15 17:26] #245 closed

[2015-02-15 20:06] samccone commented on #209
:+1: ok this is well underway and enabled on our site now

thanks everyone for the amazing work and let me know if there is anything else I can do!

[2015-02-15 20:06] #209 closed

[2015-02-15 20:08] peterblazejewicz commented on #209
It even should work with iOS reader:
![20150215210805](https://cloud.githubusercontent.com/assets/14539/6204759/d4e20f7e-b556-11e4-977d-bdcd933ad4d2.jpg)

[2015-02-15 20:10] samccone commented on #209
:clap: :clap: :clap: :clap: :clap:

[2015-02-15 20:24] samccone opened #249 "Final mobile optimizations"
It looks like the only thing that is (sort of) still in our control is
https://twitter.com/samccone/status/567051630676566016

Which is on transifex to enable gzip compression. After this it is a matter of cache expiration which gh-pages does not expose to us.

[2015-02-15 20:58] peterblazejewicz opened #250 "Add task that converts SVG into data/image as part of build process"
After recent revert:
https://github.com/marionettejs/marionettejs.com/commit/740f3ce8bedbd80fad119dbd5ea0ea642441444b
the source code has now inlined SVGs images for brand and branded text visible in `above the fold` section - which allowed us to completely solve problem with ATF topic:
![20150215213443](https://cloud.githubusercontent.com/assets/14539/6204967/079d897e-b55d-11e4-8706-5e19dd7f0934.

[2015-02-15 21:03] samccone commented on #250
:+1:

[2015-02-15 21:39] peterblazejewicz commented on #232
WIP: some finishing touches required still:
![20150215223854](https://cloud.githubusercontent.com/assets/14539/6205118/892cc5f8-b563-11e4-9b39-27ac29c0cbc7.jpg)

[2015-02-15 21:49] peterblazejewicz commented on #232
Let's us try with this: it covers a web page, with title, description, main image, sets of links (some are navigational within domain, some are external, and one points to source on GitHub - a real source):
[code]

[2015-02-15 22:16] ingro commented on #250
Maybe this can be a solution?

https://www.npmjs.com/package/grunt-datauri-variables

[2015-02-15 22:27] peterblazejewicz commented on #250
@ingro Thanks! I'll look

[2015-02-15 22:47] peterblazejewicz commented on #249
We've got very good page speed index after these changes back - even better then previously:
http://www.webpagetest.org/result/150215_7V_TN8/
These 3rd party scripts are something to keep in mind when updating content in future

[2015-02-16 07:59] Spy-Seth commented on #209
:heart_eyes:

[2015-02-16 19:50] #168 closed

[2015-02-16 19:51] samccone opened #253 "Improve Marionette Inspector Chrome icon"
on http://marionettejs.com/inspector page the chrome icon looks jacked, we should fix this.. either get an svg or get a better png for the chrome icon.

[2015-02-16 19:52] samccone commented on #186
yep this is taken care of since we do an auto deploy now :)

:shipit: :anchor:

[2015-02-16 19:52] #186 closed

[2015-02-16 20:35] peterblazejewicz commented on #253
Super official rules are here:
https://developer.chrome.com/webstore/branding?csw=1

Their current logo is available here:
http://en.wikipedia.org/wiki/Google_Chrome
verified with official brand logos:
http://www.google.com/press/images.html
So we have to just desaturate SVG I think.

[2015-02-16 20:42] peterblazejewicz opened #254 "Fix path to image used in OpenGraph/TwitterCads"
We need this to whitelist (a.k.a. approve) Twitter Card:
https://twittercommunity.com/t/warn-not-whitelisted-whitelisting-problem/32261

http://marionettejs.com/images/marionette_logo.png

We will use full absolute path hardcoded.

[2015-02-16 20:43] peterblazejewicz commented on #144
x-ref: #254

[2015-02-16 20:45] peterblazejewicz opened #255 "Add robots.txt to project root"
Usually robots.txt are not `must have` feature - but we have to add it for Twitter to let them `approve` our TwitterCard

http://marionettejs.com/robots.txt

https://twittercommunity.com/t/warn-not-whitelisted-whitelisting-problem/32261

[2015-02-16 20:45] peterblazejewicz commented on #144
x-ref: #255

[2015-02-16 21:26] #254 closed

[2015-02-16 21:50] peterblazejewicz commented on #254
![20150216224916](https://cloud.githubusercontent.com/assets/14539/6219770/2efc7ac6-b62e-11e4-8512-548e167d1bad.jpg)
![20150216224822](https://cloud.githubusercontent.com/assets/14539/6219769/2eed49fc-b62e-11e4-94fc-2f2a47017ca8.jpg)

[2015-02-16 21:52] samccone commented on #254
:clap: yesss

[2015-02-16 22:20] #255 closed

[2015-02-16 22:28] peterblazejewicz commented on #254
Facebook cache is refreshed and it should go live in minutes:
![20150216232711](https://cloud.githubusercontent.com/assets/14539/6220184/761e16b2-b633-11e4-88e7-eb89b5271555.jpg)

[2015-02-16 22:32] peterblazejewicz commented on #255
done:
http://marionettejs.com/robots.txt

[2015-02-16 22:35] peterblazejewicz commented on #144
All fixed according to Twitter's developer input via #254 and #255:
https://twittercommunity.com/t/warn-not-whitelisted-whitelisting-problem/32261

cc: @samccone Can you resubmit again?

[2015-02-16 22:42] samccone commented on #144
![screen shot 2015-02-16 at 5 41 45 pm](https://cloud.githubusercontent.com/assets/883126/6220334/256d820a-b603-11e4-8fc5-97e50d4f3ca4.png)

[2015-02-16 22:42] #144 closed

[2015-02-17 21:47] peterblazejewicz commented on #253
@samccone does #260 closes this? Or should it stay open? thanks!

[2015-02-17 21:52] samccone commented on #253
we are good to go now

[2015-02-17 21:52] #253 closed

[2015-02-18 18:59] samccone opened #265 "Add missing GA tracking to doc pages"

[2015-02-18 19:15] jdaudier opened #266 "Fix Inspector section @ this breakpoint"
This broke for some reason...
![2015-02-18_1402](https://cloud.githubusercontent.com/assets/1666031/6254492/0966cd08-b777-11e4-884f-0a339661c58d.png)

Used to be like this
![old](https://cloud.githubusercontent.com/assets/1666031/6254651/6199207e-b778-11e4-87cd-e31e20755e28.png)

[2015-02-18 19:21] jdaudier opened #267 "Minor updates to Download section"
Fix this...
![2015-02-18_1419](https://cloud.githubusercontent.com/assets/1666031/6254795/2f4a4a8e-b779-11e4-8a38-9d81dfada6e9.png)

Maybe clicking the "Marionette" text should return you to homepage instead of scroll to top since this page is shorter than homepage?

![2015-02-18_1418](https://cloud.githubusercontent.com/assets/1666031/6254794/2f486c78-b779-11e4-9ed8-2ca473ded8d6.png)

[2015-02-18 19:49] kkemple opened #268 "Marionette Logo favicon is missing on docs pages"
When you hit the Marionette www there is a nice logo favicon, when you navigate to the docs section of site you lose the favicon

[2015-02-18 19:53] samccone commented on #268
:+1:

[2015-02-18 19:54] samccone commented on #268
this should be a trivial fix to the layout file

[2015-02-18 20:12] peterblazejewicz commented on #266
@jdaudier Can you test local version (from master)? It appears to be ok:
![image](https://cloud.githubusercontent.com/assets/14539/6255715/9a13dd60-b7b2-11e4-9ab6-5c969b8dfae7.png)

[2015-02-18 20:15] peterblazejewicz commented on #267
@jdaudier We know that the second one is an actual UX bug. Let's fix this

[2015-02-18 20:44] kkemple commented on #205
@samccone I updated the description and a lot of the links, I removed old ones and added more recent resources from the marionette www

https://github.com/tastejs/todomvc/pull/1172

[2015-02-18 21:25] peterblazejewicz commented on #268
pending PR should also fix this:
![20150218222459](https://cloud.githubusercontent.com/assets/14539/6257016/15f072b8-b7bd-11e4-8182-51c4b35b77cc.jpg)

[2015-02-18 21:31] #268 closed

[2015-02-18 21:33] peterblazejewicz commented on #268
Mind clearing your browser cache when testing this!

[2015-02-18 22:02] jdaudier commented on #266
@peterblazejewicz yup, worked locally.  The _ui.scss styles needs to go first (which it does in the local version) but in the deployed site the UI styles went later.

[2015-02-18 22:03] jdaudier commented on #267
@peterblazejewicz you mean you agree it should go to the homepage, right?

[2015-02-18 22:09] peterblazejewicz commented on #267
@jdaudier Yes, we should ditch now this scroll to top pattern attached to logo/brand - as there will be multiple pages (a.k.a website with common parts)

[2015-02-18 22:18] peterblazejewicz opened #270 "Ditch scroll-to-top pattern from Marionette brand/logo"
This actually is an UX bug in situation when another pages are added that will be using common, shared components - like top, global navigation.
The users should be able to return to web site home in clear, quick way (it's internet DNA now). So let's ditch this scroll-to-top behavior attached to brand/logo.

Who's in favor?

:+1:

[2015-02-18 22:18] peterblazejewicz commented on #267
x-ref: #270 I made an issue for this

[2015-02-18 22:22] jdaudier commented on #270
What about scroll to top for the homepage (since you're already at home) and go to homepage for the other ones?

[2015-02-18 22:31] peterblazejewicz commented on #270
You can't have two different behaviours on your door lock key, correct? People will have to learn this and there is no real purpose I think - we could have an exception that on the first (home) page the logo is not clickable: http://www.nngroup.com/articles/113-design-guidelines-homepage-usability/ (see date)

[2015-02-18 22:39] jdaudier commented on #270
@peterblazejewicz agreed now that I thought about it some more... since we have the scroll-to-top button already, we can just make the logo-text not clickable on the homepage

[2015-02-19 02:33] samccone commented on #205
thanks so much @kkemple

[2015-02-19 02:44] samccone opened #271 "Great work Team"
Hey guys just wanted to give you all a :hand:

@marionettejs/www @marionettejs/marionette-core

![screenshot 2015-02-18 21 37 55](https://cloud.githubusercontent.com/assets/883126/6261058/01142674-b7b7-11e4-9871-775801116d96.png)

This is our home page growth since when we launched the new site. Thanks for all of the time you have put in. It is really making quite a difference in peoples ability t

[2015-02-19 02:55] cmaher opened #272 "Focus on traffic for the search phrase "backbone radio""
Great work on everything so far! Traffic is booming!

There is unfortunately something else out there called "backone radio" which competes for search results.

https://www.dropbox.com/s/9u1nj18rfzfzsvp/Screenshot%202015-02-18%2021.51.31.png?dl=0

I don't really know SEO (I just program a platform for people who do), but I think separate sections dedicated to each of our component projects might h

[2015-02-19 02:58] samccone commented on #272
@peterblazejewicz be like

![](https://p.gr-assets.com/540x540/fit/hostedimages/1409150284/10939744.gif)

[2015-02-19 03:02] jmeas commented on #272
ROFL

[2015-02-19 03:11] kkemple commented on #268
:+1: @peterblazejewicz you have been killin it dude

[2015-02-19 03:40] jdaudier commented on #271
👍

[2015-02-19 04:10] cmaher commented on #271
:eyes:
:nose:
:lips: party!!!

[2015-02-19 05:58] jdaudier commented on #270
Now that we're making multiple pages... maybe we should convert to use Marionette :smile:

[2015-02-19 13:16] kkemple commented on #205
@samccone totally missed your comment on the ids on the youtube urls, that PR got merged this am so I opened a new one to resolve that issue, once that is merged i would say we can close this

[2015-02-19 13:30] #205 closed

[2015-02-19 20:59] peterblazejewicz commented on #272
There is a ready to use content [out there on GitHub](https://github.com/marionettejs/backbone.radio)
It's battle tested as learning tool (I've seen it used in video, correct?) - so we should just add another (again) sub page.
And there is a content that can be cited (with author permission): http://benmccormick.org/2015/01/26/backbone-radio/
So basically I think we have everything that is needed

[2015-02-19 21:02] jdaudier commented on #272
Can we refactor use Marionette or...?

[2015-02-19 21:11] peterblazejewicz commented on #270
@jdaudier progressively - yes, from static to dynamic (as Sam linked in other ticket)

[2015-02-19 21:16] jdaudier commented on #272
cool, interesting...

[2015-02-19 21:52] benmccormick commented on #272
@samccone Feel free to cite away.  I like being linked :smile:

[2015-02-20 20:41] peterblazejewicz opened #279 "Refactor prev/next elements in videos into proper UI tags"
https://github.com/marionettejs/marionettejs.com/blob/master/src/sections/_videos.jade#L4-L9

We should use either native interactive elements here or decorate div/span with proper WAI/Aria roles/tags.
Native elements will be better giving us many features out of the box.

[2015-02-20 22:00] samccone opened #280 "Marionette Tutorial App"
As @benmccormick pointed out, marionette does not have a official tutorial app. From 0 to app.
Lets make one!

#### Goals:

* people should be able to follow it to understand how to compose views and a router to create a dynamic application.
* people should come away knowing how to route, show new content, and react to user input
* people should have a firm grasp around showing views that are coup

[2015-02-20 22:02] benmccormick commented on #280
:+1: I've been mulling this over a bit.  Finishing up work now, but I'll toss up some thoughts about what the step by step process could look like later tonight.

[2015-02-20 22:03] thejameskyle commented on #280
https://github.com/thejameskyle/marionette-wires

[2015-02-20 22:09] jfairbank commented on #280
Sure (since I'm getting drafted :stuck_out_tongue_winking_eye:), I might be able to pitch in later this weekend or more after next weekend (exam and project due).

[2015-02-20 22:45] #279 closed

[2015-02-20 22:47] peterblazejewicz commented on #270
@jdaudier May I trash this behaviour? (the web-site with multiple pages is coming)

[2015-02-20 22:50] jdaudier commented on #270
sure

[2015-02-20 22:51] jdaudier commented on #270
by this you mean, clicking on logo text will take you to homepage and for the homepage, it's not clickable, right?

[2015-02-20 22:53] peterblazejewicz opened #282 "Fix UI states for custom, svg based controls."
This is a small issue to fix and a follow up to #281
https://github.com/marionettejs/marionettejs.com/blob/master/src/stylesheets/_videos.scss#L25-L26

We have now native elements for videos navigation - but without an outline as we are using custom shape (circle) and custom background (svg).
We should provide visual clue of active, hover and focus states. Now the ripple effect is the only thing v

[2015-02-20 22:53] peterblazejewicz commented on #270
Yes, the logo should always return people back to home page.

[2015-02-20 22:54] peterblazejewicz commented on #270
The most recent doc:
https://developers.google.com/web/fundamentals/layouts/principles/easy-to-home?hl=en

[2015-02-20 22:56] jdaudier commented on #270
:+1:

[2015-02-20 23:19] samccone opened #283 "Video button regression"
![screen shot 2015-02-20 at 6 18 58 pm](https://cloud.githubusercontent.com/assets/883126/6311186/00425758-b92d-11e4-81bd-f8b035608b98.png)

[2015-02-20 23:19] samccone commented on #283
duplicate #282

[2015-02-21 03:48] jdaudier commented on #283
Was this not supposed to be see-through?  Forgot what it looked like before.

[2015-02-21 03:50] samccone commented on #283
nope solid white

[2015-02-21 03:50] samccone commented on #283
and red :)

[2015-02-21 03:51] samccone commented on #283
like youtube

[2015-02-21 04:48] benmccormick commented on #280
So I promised a braindump on gitter.  Here it is:

**Scope Questions** (these are things that should be decided before we start but don't have right answers)

- There are 2 things this type of tutorial is useful for.  a) educating users about a frameworks concepts, b) Being an example app that users can base their own apps off of (as a starting point).  Tutorial means we're definitely aiming for A

[2015-02-21 07:56] peterblazejewicz commented on #283
That's build task target for production page - overoptimization is applied to this buttons. Let's check this:
https://github.com/marionettejs/marionettejs.com/pull/284#issuecomment-75361088

[2015-02-21 11:32] peterblazejewicz commented on #283
If I copy/paste SVG from svg map dev build into DOM on web site everything turn white as expected. That' s definitely overoptimized svg:
![image](https://cloud.githubusercontent.com/assets/14539/6313940/ac8df7ae-b9c5-11e4-9a0f-93b875c4cb1c.png)
Now let's fix this

[2015-02-21 12:24] #270 closed

[2015-02-21 13:56] peterblazejewicz commented on #283
There is a different SVG structure after compile-site phase:
http://jsbin.com/qokoma/2/edit

[2015-02-21 16:30] jfairbank commented on #280
Great initial writeup @benmccormick. I haven't fully digested it yet, but those sound like some great ideas. I'm going to read it more thoroughly tonight.

[2015-02-21 17:35] peterblazejewicz commented on #283
Found it! Here:
https://github.com/addyosmani/critical/issues/63
WIP

[2015-02-21 17:56] peterblazejewicz commented on #283
@samccone If we prepare custom `grunt-critical` installation that will use critical #master branch the problem will be fixed and can be later revisited when grunt-critical is updated. I can quickly verify fix via:
[code]
within grunt-critical module installation. It fetches `critical@0.5.4 node_modules/critical`

[2015-02-21 17:58] jdaudier commented on #283
kudos on finding this... how did you narrow it down to critical?  google search?

[2015-02-21 18:30] peterblazejewicz commented on #283
@jdaudier no, by elimination of tools that could alter inlined svgs. I've started with check if online/javascript/3rd party could alter this (e.g. 3rd party script loaded at runtime). After elimination I've checked build chain: `svgstore` first:
https://github.com/marionettejs/marionettejs.com/blob/master/gruntfile.js#L137-L144
then Jade engine including svgs:
https://github.com/marionettejs/mario

[2015-02-21 18:36] jdaudier commented on #283
gotcha...good job... i didn't get as far... only checked svgstore but noticed the svg sprite has the same code as the individual svg.

I guess we'll have to do something similar to figure out https://github.com/marionettejs/marionettejs.com/issues/266

[2015-02-21 19:09] peterblazejewicz commented on #283
@samccone what is the best way we could deal with this? Can we use forked grunt plugin with custom-dependency patch:
[code]
https://github.com/peterblazejewicz/grunt-critical/commit/d1b5c35d3cd00494a2f72978db0450ab93cf496e
This seems to fix our problem - but `grunt-critical` tests fail with bumped `critical`. Can it be risky?

[2015-02-21 19:15] samccone commented on #283
I would need to see the nature of the failure, but If this fixes our issue, it is fine to use the forked version.
 :)

I think the master version actually has my patch in it, so that we can generate multi resolution critical path css ;)

[2015-02-21 19:23] jdaudier commented on #283
@samccone Can you explain in short what this mean?

[2015-02-21 19:30] samccone commented on #283
https://github.com/addyosmani/critical/pull/66

[2015-02-21 19:34] peterblazejewicz commented on #283
@samccone
here is output: https://gist.github.com/peterblazejewicz/9edb2c58bc8291a1e5c3
If I switch to master tests pass

[2015-02-21 19:36] samccone commented on #283
yeah interesting, I am guessing one of the child dependencies changed, and thus their tests are invalid.

[2015-02-21 20:01] peterblazejewicz commented on #266
@jdaudier
That's also due to extracted css by `critical` task - but this time there is no tool fault in this.
We should refactor our code - note: the css contains information about positioning/spacing button directly on its instance - instead of applying it to a container (column or list) - so it gets messed:
![20150221205857](https://cloud.githubusercontent.com/assets/14539/6315754/9aad9674-ba0c-

[2015-02-21 20:23] jdaudier commented on #266
@peterblazejewicz are you saying we need to wrap the action buttons inside another div and move the margin CSS to affect that div?

[2015-02-21 20:53] peterblazejewicz commented on #266
yes, something like this. That could allow us to avoid a problems with specificity order - see screenshot - the critical css and later injected main CSS are rendered in different order than we expect. Looking into this right now.

![image](https://cloud.githubusercontent.com/assets/14539/6315912/170199fa-ba12-11e4-98c5-1387a31a5a78.png)

[2015-02-21 21:19] peterblazejewicz commented on #266
@samccone I think we need to update `critical` task options - it looks like we should take care of duplicate rules/declarations and possible conflicts like here. I've read this comment in `loadCSS` source:
https://github.com/filamentgroup/loadCSS/blob/master/loadCSS.js#L8-L14
which exactly details situation we have I think.

[2015-02-21 21:39] jdaudier commented on #266
:confused:

[2015-02-21 23:14] peterblazejewicz commented on #192
closed via: #276

[2015-02-21 23:14] #192 closed

[2015-02-21 23:17] peterblazejewicz commented on #266
@jdaudier Here is an example how we could avoid problems:
https://github.com/peterblazejewicz/marionettejs.com/tree/refactor/navigation-wip
- the buttons are abstracted into UI components
- there is abstract navigation element that works like containers to hold UI elements (this one could be a div with similar purpose like row+cols)
(only header/masthead section is refactored btw, that's just samp

[2015-02-21 23:59] jdaudier commented on #266
gotcha. thanks for the example! 🀌 (woah, mahjong emoji)

[2015-02-22 16:35] #265 closed

[2015-02-22 17:23] samccone commented on #126
heh closing

[2015-02-22 17:23] #126 closed

[2015-02-22 17:23] samccone commented on #106
we killed it

[2015-02-22 17:23] #106 closed

[2015-02-22 19:30] #165 closed

[2015-02-22 23:08] jasonLaster commented on #91
Took a stab at this this past hour. I'll have a much better example tonight or tomorrow. The basic idea is to show a demo app  "5 most recent contributors" and the code that went into that. I think this will be a pretty great demo of a small working app!

Question: Does this replace what @megawac started. nope. A more interactive demo would also be awesome as well.

[2015-02-23 14:47] kkemple opened #296 "We should add Marionette JS file size to download button, or somewhere easily viewable"

[2015-02-23 21:12] peterblazejewicz opened #298 "Invalid navigation links <520px"
There is no content <520px (sm breakpoint) while there is a navigation link:
http://marionettejs.com/#download
We can't do such things - that is we cannot hide named section and left navigation link - the link is correct .
WIP

[2015-02-24 20:23] jasonLaster opened #300 "Add "The Case for Marionette.js""
@benmccormick wrote a great post about "why" Mn
http://benmccormick.org/2014/12/02/the-case-for-marionette-js/.

We should re-purpose this content and add it to the website as separate pages that support the main content. This would give a great rationale for the Mn way

[2015-02-24 20:32] benmccormick commented on #300
I talked about this with Jason on gitter briefly.  I'm happy to contribute the copy, but it will need cleaning up a bit to fit in with an "official" setting.  I can be part of that if people like this idea.

[2015-02-24 20:33] samccone commented on #300
:+1: :+1: yay

[2015-02-24 20:45] benmccormick commented on #300
Also something like this should work in this slide from @jmeas's BackboneConf talk: https://www.youtube.com/watch?v=EvQnntaqVdE&list=PLlgxAbM67lYIGw8DnANC7VgREbzJRQged#t=244  I think it does a good job of motivating why you'd want a "framework on top of a framework", and how Marionette complements Backbone

![james_smith_-_marionette_the_backbone_framework_-_youtube](https://cloud.githubuserconten

[2015-02-24 22:28] peterblazejewicz opened #302 "Fix issues with JavaScript on downloads pages"
![image](https://cloud.githubusercontent.com/assets/14539/6360753/c1979ea2-bc7c-11e4-96cb-fef54386dd6f.png)

[2015-02-24 22:28] samccone commented on #302
oh no

[2015-02-24 22:28] samccone commented on #302
I don't see those actually...

[2015-02-24 22:33] peterblazejewicz commented on #302
hm, now it's fine. Which 3rd party code gets injected into page? (SPOF behaviour)

[2015-02-24 22:37] peterblazejewicz commented on #302
Got this again. That's our code, there is no carousel on downloads page.
![20150224233549](https://cloud.githubusercontent.com/assets/14539/6360897/f1b789ca-bc7d-11e4-9fd1-a115fdf7c1d8.jpg)

I'll fix this with upcoming PR which adds blocks to layouts - so we will be able to include per-page scripts (but here we could add safe-check)

[2015-02-24 22:49] #298 closed

[2015-02-24 22:54] samccone commented on #302
odd that mine did not blow up

[2015-02-25 15:23] jdaudier opened #304 "Write story for Hotjar"
Adding this here in case anyone wants to work on it...
Purpose: help promote Marionette & as a thank you for Hotjar for lifetime access

http://inside.hotjar.com/support/discussions/topics/1000051304

Ex: http://inside.hotjar.com/support/discussions/topics/1000053071

![2015-02-24_1636](https://cloud.githubusercontent.com/assets/1666031/6373365/3be51404-bcd8-11e4-885b-ea2df437b4a9.png)

[2015-02-25 16:52] jdaudier opened #305 "Download button CSS bug"
@peterblazejewicz any idea which commit might have caused this before I dig in?

![2015-02-24_1636](https://cloud.githubusercontent.com/assets/1666031/6375384/b213a328-bce4-11e4-8378-e05e1d2ec1b1.png)

[2015-02-25 16:56] jdaudier commented on #280
@kkemple and I are working on a food ordering app using http://www.ordrx.com API called the LazyCook. We'll take in all the comments here and see if we can give this app dual purpose and add it to the www as well.

[2015-02-25 19:51] peterblazejewicz commented on #304
"Why we killed Twitter link and why it had it coming" (thx @plutokiller) is the good use case to use in this

[2015-02-25 19:52] samccone commented on #304
I agree @peterblazejewicz :)

[2015-02-25 19:54] jdaudier commented on #304
i even missed that... bye twitter bird

[2015-02-25 19:55] samccone commented on #304
![](http://cache.desktopnexus.com/thumbnails/998492-bigthumbnail.jpg)

[2015-02-25 19:59] peterblazejewicz commented on #305
@jdaudier That's *critical* css rules applied in different order than expected.
local:
![20150225205705](https://cloud.githubusercontent.com/assets/14539/6379215/f71f7770-bd30-11e4-9adc-1cb5ed18a259.jpg)
production:
![20150225205532](https://cloud.githubusercontent.com/assets/14539/6379227/0212010c-bd31-11e4-9bd2-f4d391104b5a.jpg)
See number of cascaded classes in production.
As I wrote in other t

[2015-02-25 20:15] jdaudier commented on #305
gotcha

[2015-02-25 20:26] jdaudier commented on #305
the other ticket you're talking about @peterblazejewicz is this one, right https://github.com/marionettejs/marionettejs.com/issues/266

[2015-02-25 20:28] peterblazejewicz commented on #305
Yes

[2015-02-25 20:30] #302 closed

[2015-02-25 21:37] #282 closed

[2015-02-25 23:21] jasonLaster commented on #280
Yessss

I like using git + github.

I also like the progression of steps. This will help so much.

[2015-02-26 03:10] benmccormick commented on #300
Here's a cleaned up version of the post in Markdown form: https://gist.github.com/benmccormick/7fb48e9c411db00c0094

I removed the site specific stuff and the section critiquing the marionette docs from not having this type of information... since clearly that is being resolved.  I did add a quick attribution/linkback, but won't complain if you remove it.

[2015-02-26 17:23] jdaudier opened #309 "Link to annotated src from docs?"
I was just reading the docs and wanted to jump to the annotated src and realized that I had to go back to the homepage to get that.

I think we should link them together somehow so it's less clicks. Thoughts?

[2015-02-26 19:10] jdaudier commented on #163
Maybe a hello bar that's at the top of the site for notifications of new releases

![2015-02-26_1409](https://cloud.githubusercontent.com/assets/1666031/6399559/2c48cbfa-bdc1-11e4-92ee-a0dde0d2b8ea.png)

[2015-02-26 19:20] peterblazejewicz commented on #309
:+1:  that's an AI challenge to fit it into current design.
We should later figure out some way to connect to source doc from documentation header links (and use named/friendly hashes):
http://marionettejs.com/annotated-src/backbone.marionette.html#section-160

[2015-02-26 20:20] peterblazejewicz commented on #163
:+1:  for flash/toast messages. state persistad via LocalStorage (instead of cookies).

[2015-02-26 21:27] peterblazejewicz commented on #162
closed via #290

[2015-02-26 21:27] #162 closed

[2015-02-26 21:40] peterblazejewicz commented on #53
As you maybe noticed we have been quite heavily indexed. Can we use Google Search Engine (we can customize their L&F)?
sample, just type `view` or `whatever`:
https://www.google.com/cse/publicurl?cx=014386862376114157370:n4_zeoqmnds

[2015-02-26 21:45] peterblazejewicz commented on #73
we can restructure menu and make top part static, just like on Polymer project:
![menu](https://cloud.githubusercontent.com/assets/14539/6402586/1a52bd3c-be09-11e4-975a-2d7719b1ee24.gif)

[2015-02-26 21:49] peterblazejewicz commented on #90
I want to remove that `pilcrow` character which has no clear conotation as link (in my opinion):
http://glyphsearch.com/?query=pilcrow
I could help with this.

[2015-02-26 21:50] peterblazejewicz commented on #309
related: #95

[2015-02-26 22:33] peterblazejewicz commented on #249
I'd close it:
https://www.google.com/webmasters/tools/mobile-friendly/?utm_source=psi&utm_medium=referral&utm_campaign=landingpage&url=http%3A%2F%2Fmarionettejs.com%2F
The 3rd party script and compression are standard PITA to watch

[2015-02-27 06:54] MeoMix opened #311 "Unminified UMD file download location is empty"
http://marionettejs.com/downloads/backbone.marionette.js

There's nothing there! Thanks to @timtan for pointing it out in the Marionette Gitter.

[2015-02-27 21:32] peterblazejewicz opened #313 "publish video from recent Meetup:"

[2015-02-27 21:34] peterblazejewicz opened #314 "Publish video from recent Meetup about Blazer router"
https://www.youtube.com/watch?v=F32QhaHFn1k&feature=youtu.be

Once un-unlisted - could it be added?

[2015-02-27 21:35] peterblazejewicz commented on #313
Dup of #312

[2015-02-27 21:35] #313 closed

[2015-02-28 05:11] jdaudier commented on #305
Do we want to keep the mobile version with the words "static build" w/o a button?

![2015-02-28_0009](https://cloud.githubusercontent.com/assets/1666031/6424958/477df4ae-bede-11e4-9c0d-192613338938.png)

[2015-02-28 07:10] peterblazejewicz commented on #305
I wrote already somewhere: that's UX/AI bug - that button points to real navigation - can be - that's not a content - both downloads buttons on top of the page with href to anchor and this one should not be hidden now as they point to real resource:
http://marionettejs.com/download/
and the resource is not a downloadable binary - but a page with text to read and important information.
Thanks!

[2015-02-28 07:12] peterblazejewicz commented on #314
done:
https://www.youtube.com/watch?v=F32QhaHFn1k
will submit PR for consideration/update

[2015-02-28 07:12] #314 closed

[2015-02-28 08:04] peterblazejewicz opened #316 "Server issue - no content/content length = 0"
I'm experiencing this from yesterday (at least):
[code]
No content returned, no content information sent from server whatsoever, why it should be like:
[code]
@samccone

[2015-02-28 08:14] peterblazejewicz commented on #316
chatting with @jdaudier there is other output from server as well we both have seen:
[code]
So here Nginx with content and above Apache/RedHat no content

[2015-02-28 20:16] peterblazejewicz commented on #305
@jdaudier
Can you try with latest NPM dependencies?
I can see a changes in generated output - there were changes in NPM for dependencies used in `critical` task.
[code]
[code]
[code]
and in new terminal you can verify quickly that way:
[code]
(one needs to rebuild htmls before running critical task)

[2015-02-28 22:06] jdaudier commented on #305
@peterblazejewicz ok, tried this... but i'm not sure what I'm supposed to be looking for

[2015-02-28 22:17] peterblazejewicz commented on #305
@jdaudier
you need to make sure that your local Node packages in project are updated - so just go ahead, remove current 'node_modules' and reinstall them.
When you run task 'compile-all' it will invoke that `critical` task that injects inlined css style and later append `marionette.css` - that is why duplicated declarations have been occurring.
I'm not seeing this any longer:
https://github.com/ma

[2015-02-28 22:20] jdaudier commented on #305
ok i see this now locally

![image](https://cloud.githubusercontent.com/assets/1666031/6428372/1aede9fe-bf6e-11e4-85df-ec19a25b1f96.png)

[2015-02-28 22:22] peterblazejewicz commented on #305
OK. Now run `grunt critical` in other terminal tab - this will re-render index.html in inlined css and you should be able to verify if there is a change.

[2015-02-28 22:26] jdaudier commented on #305
looks the same

[2015-02-28 23:50] jdaudier opened #323 "Refactor CSS to use new grid system"
ref https://github.com/marionettejs/marionettejs.com/pull/301

[2015-03-01 05:32] jasonLaster commented on #304
Awe. Sad story

[2015-03-01 19:03] peterblazejewicz opened #324 "refactor inspector page css to avoid class selectors conflicts"
Just merged #301
We use general term widely used in front-dev `row` (you now, in grids) - so now we should refactor existing `.row` opportunistic-like name to something else:
https://github.com/marionettejs/marionettejs.com/blob/master/src/stylesheets/inspector/index.scss#L181-L187
There wont' be a conflict with current code base as new styles are not used on inspector page (yet)

[2015-03-01 19:19] peterblazejewicz commented on #316
[code]
though I can still get a blank page occasionally
https://www.cloudflarestatus.com/
closing

[2015-03-01 19:19] #316 closed

[2015-03-01 21:26] peterblazejewicz commented on #163
Let's remember that people could subscribe to services we are using:
http://take.ms/3M7Pp

[2015-03-01 21:40] peterblazejewicz opened #327 "Unused font (blocking resource) on the Inspector page"
I think we have copied and pasted non used link to Questrial font:
https://github.com/marionettejs/marionettejs.com/blob/master/src/layouts/inspector-layout.jade#L13
I'm pretty sure it is not used on this specific page:
https://github.com/marionettejs/marionettejs.com/blob/master/src/stylesheets/inspector/index.scss#L8

x-ref: #326 (which should be merged first if LG)

[2015-03-01 22:15] samccone commented on #316
Ping @thejameskyle Seems like a cloud flare thing

[2015-03-01 22:47] #324 closed

[2015-03-01 23:28] jdaudier commented on #163
I meant create our own toast msg system for new releases.  Hello bar was just for inspiration.  it can be a grunt task perhaps that pulls copy from a json file if it exists and shows it on a top section.

[2015-03-02 00:39] samccone opened #329 "Marionette LOC overtime"
Would be neat to introduce a page like .. stats to show the LOC of the lib over time, and stuff like that
I think it would be quite interesting. This is not critical just might be a nice experiment if someone was interested.

[2015-03-02 05:04] thejameskyle commented on #316
Not seeing any issue. Also it's pretty safe to bet it's not ever going to be a CloudFlare issue.

[2015-03-02 06:41] peterblazejewicz commented on #316
Thanks @thejameskyle I'm not able to repeat this in area where I work - but still had problems in the other part of area yestearday. (Warsaw, Poland)

[2015-03-02 19:49] jdaudier commented on #305
I was thinking whether this button should just go straight to the Download page to save a click? But the advantage of having the download section on the homepage is in case people miss the download button. Thoughts?

![image](https://cloud.githubusercontent.com/assets/1666031/6448917/35d2fe98-c0eb-11e4-9543-dd0a8cbf798e.png)

[2015-03-02 20:08] peterblazejewicz commented on #305
This button should link to `http://marionettejs.com/download/` IMHO - but we could progressively enhance it to scroll to #download section.
The first and very first reason behind this is that we use `primary button` UX here - and primary buttons are really primary implementation - people click and get results instantly (Zurb):
![zurb](https://cloud.githubusercontent.com/assets/14539/6449254/d3e5f0

[2015-03-02 20:13] samccone commented on #305
yeah lets take a new snapshot on hotjar and do an analysis

[2015-03-02 21:06] peterblazejewicz commented on #283
We need to watch grunt-critical update and bump requirements in package.json after update:
https://github.com/addyosmani/critical/issues/63#issuecomment-76807066

[2015-03-02 21:21] jdaudier opened #330 "Make Inspector page more responsive"

[2015-03-02 21:25] samccone commented on #330
![screen shot 2015-03-02 at 3 25 09 pm](https://cloud.githubusercontent.com/assets/883126/6450839/62012b98-c0f0-11e4-8af6-62e1fb0a032d.png)

10/10 would visit

[2015-03-02 21:28] peterblazejewicz commented on #316
This was caught on Google Page Speed insights:
![pagespeedinsights](https://cloud.githubusercontent.com/assets/14539/6450889/6145aea0-c12b-11e4-86cd-6004d28b0e95.jpeg)

[2015-03-02 21:32] samccone commented on #316
weird!

so i ran traceroute

[code]

So it terminates at cloudflare and cloudflare is just proxying gh-pages ... so not sure where the blame is
I get that you are saying @thejameskyle but perhaps it is worth asking someone?

[2015-03-02 21:41] #232 closed

[2015-03-02 21:42] samccone opened #331 "Versioned Annotated source builds"
We have versioned docs, we should add versioned annotated source builds

the latest should be

`marionettejs.com/annotated-src/backbone.marionette`

all others should be

`marionettejs.com/annotated-src/v.X.X.X/backbone.marionette`

[2015-03-02 21:42] samccone commented on #331
duplicate of #89

[2015-03-02 21:42] #331 closed

[2015-03-02 21:42] samccone commented on #89
the latest should be

marionettejs.com/annotated-src/backbone.marionette

all others should be

marionettejs.com/annotated-src/v.X.X.X/backbone.marionette

[2015-03-02 22:50] peterblazejewicz opened #333 "Refactor Inspector page sections for better semantics and readability"
Avoid duplicate words stacked in sections either by different CTA, markup or other solution:

![20150302234548](https://cloud.githubusercontent.com/assets/14539/6452495/4f7d15b8-c136-11e4-88fb-ae2b05f747f7.jpg)
(why is this important?)

![20150302234517](https://cloud.githubusercontent.com/assets/14539/6452504/594d2dda-c136-11e4-9a8e-20d465f061ad.jpg)

[2015-03-03 00:05] jdaudier commented on #305
just started a new snapshot on hotjar

[2015-03-04 17:59] thejameskyle commented on #316
Not seeing anything here:

[code]

[2015-03-04 18:03] peterblazejewicz commented on #316
@thejameskyle I think it was local to this region (Central Europe)

[2015-03-04 20:34] thejameskyle commented on #316
Haven't seen any issues related to that in Warsaw https://www.cloudflarestatus.com/history?filter=0gh2jr9mdr7v

[2015-03-04 21:05] #333 closed

[2015-03-05 05:50] samccone commented on #316
yap all I was saying @thejameskyle was that it terminates at you guys

[code]

[2015-03-05 07:13] thejameskyle commented on #316
@samccone Well yeah, if everything is cached why would it go all the way to the origin server?

[2015-03-05 18:38] peterblazejewicz commented on #316
for the records: this helped (reset DNS cache on OS X/Yosemite):
[code]
https://support.apple.com/en-us/HT202516

[2015-03-05 18:43] peterblazejewicz commented on #327
Firefox has built-in font listing feature:
![20150305194127](https://cloud.githubusercontent.com/assets/14539/6511865/eb929992-c36f-11e4-9c4d-5731f4604fba.jpg)

[2015-03-05 18:51] #327 closed

[2015-03-05 19:17] samccone commented on #327
:clap:

[2015-03-05 21:16] #283 closed

[2015-03-05 21:28] peterblazejewicz commented on #283
![20150305222715](https://cloud.githubusercontent.com/assets/14539/6514992/f156d106-c386-11e4-96f9-396246d477b8.jpg)

[2015-03-06 01:06] jdaudier commented on #330
Note to self:

Make "Install Now" button show up on mobile view on homepage since Chrome Web Store has this feature...

![image](https://cloud.githubusercontent.com/assets/1666031/6518321/f2d154a2-c372-11e4-9b82-d444f33a863a.png)

[2015-03-06 12:53] peterblazejewicz commented on #330
This is why I'm opposing from hiding navigation interactive elements on small screens :)

[2015-03-07 09:55] timtan commented on #311
it seems to be correct now.   We can close the issue.

[2015-03-07 11:40] peterblazejewicz commented on #311
thx @timtan !

[2015-03-07 11:40] #311 closed

[2015-03-07 19:59] peterblazejewicz commented on #266
@jdaudier hints for headers to avoid the same thing:
https://www.youtube.com/watch?v=SqfhZk0eIdE&t=366

[2015-03-07 20:16] samccone opened #343 "Mobile menu toggle seems to no longer be working."
On a phone if you click the menu button, it seems to no longer open :(

[2015-03-07 20:23] peterblazejewicz commented on #343
menu depends on JS - scroll down and check if there are other possible problems, is there background of video missing? If we get server or 3rd party loading problems on mobile our code (which loads at the end) will suffer most).
btw, see response time for fonts and Transifex here:
http://www.webpagetest.org/result/150307_FR_REY/

[2015-03-07 22:03] jdaudier commented on #343
the hamburger icon works for me but I'm on Android - Samsung Galaxy S4

[2015-03-08 01:04] samccone commented on #343
ok I was on a really poor network, and this is a great find actually, I am going to inline the script because, we should not prevent this from working due to network critical load time. :+1:

[2015-03-08 16:54] peterblazejewicz opened #346 "Optimize mobile content loading"
We hide section with companies on small screens. I think we should not.
Even if we hide it the content is still fetched:
![20150308174849](https://cloud.githubusercontent.com/assets/14539/6546648/a40a9310-c5bb-11e4-83e1-c50d0128e574.jpg)
What about not hiding this section? The current implementation serves no purpose IMO: the markup is still there, content is fetched via `unveil` plugin.

[2015-03-08 19:42] peterblazejewicz opened #348 "Unused stylesheet for removal"
I think this animations definitions is no longer used.
https://github.com/marionettejs/marionettejs.com/commits/b83b941373a0ef7cb5e7e21eb71a118506e162c6/src/stylesheets/_animations.scss

/cc @samccone

[2015-03-08 20:21] samccone commented on #348
Kill it

[2015-03-08 20:31] #348 closed

[2015-03-08 21:38] #343 closed

[2015-03-09 13:21] paulfalgout opened #350 "Make a wikipedia page"
Seems we had one but it was deleted: http://en.wikipedia.org/wiki/Marionette.js

Should model after:
http://en.wikipedia.org/wiki/Ember.js
http://en.wikipedia.org/wiki/Backbone.js

Not directly related to marionettejs.com, but might help us with:
![](https://www.marionettes-puppets.com/images/P/3_marionettes-ru029.jpg)

[2015-03-09 13:38] samccone commented on #350
:+1:

[2015-03-09 15:33] samccone opened #351 "Create a Marionette Learning page"
We have four days of content that I have generated

We should make a training page where we list all of these along with some copy for each section.

https://docs.google.com/presentation/d/14SJMY6f8cSLcMLTPvvGd_2khkH_vQp2FqVyTSF7DIMI/edit#slide=id.p

https://docs.google.com/presentation/d/1XeVwWkOnnEkAf_CGjHQgNPvIffFoQthwrbpCC_Yixqw/edit#slide=id.p

https://docs.google.com/presentation/d/1EnDcVjYU

[2015-03-09 19:43] peterblazejewicz commented on #350
We will have a tough task, the guy behind article removal is `true grit` of WikiPedia:
http://en.wikipedia.org/wiki/User:RHaworth
We need a plain, readable text - can be composed from what we have already on website + links that Mj is a serious, open source project (YouTube channel helps, Books help)

[2015-03-09 21:55] peterblazejewicz commented on #90
@samccone
Can I start with such change?
- we will use our own template and css files
- they files should be integrated into our build system somehow (author in .scss, output .css and then use in docco task?)

Minimal changes to get things work:
[code]
generated output from this `docco` target:
http://jsbin.com/ponilu/

[2015-03-09 22:00] samccone commented on #90
:+1: good first step I think

[2015-03-09 22:04] peterblazejewicz commented on #90
So can I go with this? We will use `"Helvetica Neue", Helvetica, Arial, sans-serif;` fonts (as in JSBin sample).
When added I'll first improve html markup then figure out how to integrate styles.

/cc @jdaudier

[2015-03-09 22:05] samccone commented on #90
yeah go right ahead, I am working on building out versioned docco builds ATM and then a few other nice to have things

[2015-03-10 00:53] jdaudier commented on #90
@peterblazejewicz :+1: for the font change

i'm done grieving over Questrial :smile:

[2015-03-10 04:08] samccone opened #360 "Add a crawler to make sure all links resolve and do not 404"
xref https://github.com/marionettejs/backbone.marionette/issues/2211

[2015-03-10 13:41] #89 closed

[2015-03-10 13:42] samccone opened #361 "Show a dropdown of all versions of annotated source on the docco pages"

[2015-03-10 14:31] jdaudier opened #362 "Words cut off in annotated source"
At smaller browser sizes... (happens to more than just this heading)

![image](https://cloud.githubusercontent.com/assets/1666031/6576889/7974bb66-c710-11e4-931a-2ec25007bbbe.png)

[2015-03-10 14:32] samccone commented on #362
:+1:

[2015-03-10 16:37] jasonLaster commented on #360
this is what I have in mind:

[code]

[2015-03-10 16:39] samccone commented on #360
yep :) I think we can do this statically as a test ... should be quite simple actually

[2015-03-10 18:36] #362 closed

[2015-03-11 13:42] samccone opened #368 "Add missing hotjar code on the inspector page"

[2015-03-12 03:59] jdaudier commented on #351
one idea... is an "Overview" tab a the nav that goes to a different page that's a slideshow format similar to http://www.carbonfive.com/#section4/1

[2015-03-12 04:04] jdaudier commented on #351
Maybe I like this better 'cuz you can see sections ("class") and jump to them
https://storify.com/

![img](http://g.recordit.co/vryaKErRqD.gif)

[2015-03-12 04:36] jdaudier commented on #351
note to self:
tabs: http://tympanus.net/Development/TabStylesInspiration/
navigation arrow styles: http://tympanus.net/Development/ArrowNavigationStyles/
page transitions: http://tympanus.net/Development/PageTransitions/
slidr.js: http://www.bchanx.com/slidr#docs

[2015-03-12 20:46] peterblazejewicz commented on #368
I've changed URL to end with slash and make sure that data is sent to Hotjar:
![20150312214232](https://cloud.githubusercontent.com/assets/14539/6627756/cd11ca6a-c900-11e4-8ab3-2b0dece40f35.jpg)
(that's me on counter)
![20150312214522](https://cloud.githubusercontent.com/assets/14539/6627817/2b30f0da-c901-11e4-9723-4d45750ecb4d.jpg)
So closed - missing trailing slash was the culprit

[2015-03-12 20:46] #368 closed

[2015-03-12 20:48] peterblazejewicz commented on #368
http://inside.hotjar.com/support/solutions/articles/1000166814-why-is-my-heatmap-not-tracking-visitors-

[2015-03-12 21:25] peterblazejewicz commented on #296
GitHub API returns size of releases:
https://developer.github.com/v3/repos/releases/

[2015-03-12 22:37] peterblazejewicz opened #372 "JavaScript vendor files in build configuration"
I think we are not using Backbone/Mj libraries on the client side of web site yet. So we should remove them from download as of now:
[code]
(the commit also fixes using .min version of files - which is incorrect if we are using concat/uglify)

[2015-03-12 22:42] peterblazejewicz opened #373 "Bower vendor scripts copied during copy target"
What is the purpose of copying Bower managed client code into `dist`? Entire Bower managed entities are copied and probably never used:

https://github.com/marionettejs/marionettejs.com/blob/master/gruntfile.js#L119-L123

[2015-03-13 21:33] peterblazejewicz opened #375 "Travis scripts exits with 128 code (always?)"
I've impression that Travis now exits with code 128 always failing to validate PR:
https://travis-ci.org/marionettejs/marionettejs.com/builds/54306239#L3017

/cc @samccone

[2015-03-13 21:57] peterblazejewicz opened #376 "Generate favicons for modern browsers"
We are using (correctly) `favicon.ico` - which is supported by most (all) browsers - without any html markup - just by placing into root directory. We should also provide now favicons for modern browsers - all those for iOS/Android devices, Windows OS tiles, etc.
@jdaudier
You could use this online tool:
http://realfavicongenerator.net/
I've used it for several occasions in production. You can see

[2015-03-14 12:25] #376 closed

[2015-03-14 12:47] peterblazejewicz commented on #163
https://github.com/pubnub/oi-web-notifications/

[2015-03-14 12:53] peterblazejewicz commented on #375
https://travis-ci.org/marionettejs/marionettejs.com/builds/54242646#L3017

[2015-03-14 17:26] peterblazejewicz commented on #375
https://travis-ci.org/marionettejs/marionettejs.com/builds/54377811#L3070

[2015-03-17 21:30] peterblazejewicz commented on #163
another implementation example - for mobile:
https://github.com/blog/1976-introducing-mobile-web-notifications

[2015-03-18 21:06] cmaher opened #381 "Documentation home has wrong title and meta information"
http://marionettejs.com/docs/current/ has title and meta information for `Marionette.Application`

This can really mess up SEO.

[2015-03-18 21:12] samccone commented on #381
oh yeah this is no good

[2015-03-19 02:29] samccone opened #382 "Add a version drop down to docco pages"
much like the normal doc pages 😁

[2015-03-19 21:04] peterblazejewicz commented on #381
If I understand, we are always using file name to set page title (and other things):
https://github.com/marionettejs/marionettejs.com/blob/master/src/docs/template.hbs#L6
so we always passing the first (application) file to render by this template.
Should we introduce hbs partials to split templates and have different template for index page + object for landing docs page?

[2015-03-19 21:08] peterblazejewicz commented on #382
We have to prerender this as part of this task, correctly? We should also just create a JS data and fetch to fetch, render select - but it could be better to have this links embedded as markup for robots.

[2015-03-23 03:09] paulfalgout commented on #213
I like babel's logo submission link.. it prefills the issue.

[2015-03-23 05:03] jdaudier commented on #213
nice!

[2015-03-23 19:57] peterblazejewicz commented on #213
Let's push this further:
https://github.com/isaacs/github/issues/99
https://github.com/bumptech/glide/issues/332

@jdaudier @samccone
We need a copy text for a person submitting issue if you decide to go this way. The text is later encoded just like in simple mail protocol for subject and body. The subject could contain a label

[2015-03-23 23:17] jdaudier commented on #213
If we go this route, it means we have to add in the logo ourselves, right?

[2015-03-27 17:05] sarkasm opened #383 "Webpage is showing up partially translated to French or Spanish for some users"
Using Chrome, I am currently seeing the http://marionettejs.com/ website partially translated in French, another user around me is seeing it in Spanish.  In other browsers the site appears in English.  The web browsers in question were set to the default English language.

Browser: Chrome Versions 41.0.2272.104 (64-bit) and 42.0.2311.60

French:
![img](https://s3.amazonaws.com/uploads.hipchat.com/

[2015-03-27 19:40] peterblazejewicz commented on #383
@sarkasm Thanks for the report!
It looks like completely random - I'm getting Japanese (though I'm learning Japanese - coinsidence?)
I think that's the service problem, their web page is also translated:
https://www.transifex.com/
![image](https://cloud.githubusercontent.com/assets/14539/6875580/34b89da4-d4c0-11e4-86ed-712e6b647777.png)
cc @samccone

Do you observe that problem only in Chrome btw?

[2015-03-27 21:30] peterblazejewicz commented on #383
Their new code works differently under Chrome:
https://twitter.com/blazejewicz/status/581543330611388416

[2015-03-30 04:15] thenickcox opened #384 "Line breaks in the markdown docs are translated as <br /> tags erroneously."
This has been bothering me about the docs for a while. I recently had a [documentation PR merged](https://github.com/marionettejs/backbone.marionette/commit/18d3227dbdf2b2f515136f30e6516f791b3937a8) in Marionette core, and part of that removed the line breaks in the docs because they were being converted to `<br />` tags. But I was browsing the Markdown docs today, and a Markdown parser should onl

[2015-03-30 13:09] samccone commented on #384
@thenickcox The only other piece of the process would be our fork of docco that @peterblazejewicz did.

@peterblazejewicz any thoughts?

[2015-03-30 14:30] thenickcox commented on #384
Now that we're talking about it, there is a call in the `getDescription` method in the `compile-docs.js` that [specifically replaces <br> tags](https://github.com/marionettejs/marionettejs.com/blob/7cb377f191a2ee4edc2b87bda67116993a8cd3dd/tasks/compile-docs.js#L112-L113), which shouldn't be necessary with `marked`'s default output. It occurred to me to do the same thing in the `compileContent` cal

[2015-03-30 14:36] samccone commented on #384
hmm open to ideas of fixes that you think can make it better, but yeah all of the docs require a bit of massaging to get "right"

[2015-03-30 14:48] thenickcox commented on #384
I mean, if the core team thought that would be an acceptable fix, far be it from me to say otherwise.

[2015-03-30 14:54] samccone commented on #384
@thenickcox that would be awesome!

[2015-03-30 14:59] thenickcox commented on #384
Great. The only downside I could see to that is that any intentional &lt;br&gt; tag in the docs would get thrown out. We could add a check for a class like `"no-replace"` or something, but I don't think I've ever intentionally used a &lt;br&gt; in markdown.

[2015-03-30 19:55] peterblazejewicz commented on #384
@samccone @thenickcox do `compile-docs` download only release-based content? So `2.4.1` tagged release content is downloaded, not the current docs from master - if that is true, the changes (line breaks and tweeks) from linked PR are not yet within compiled docs - I've check paragraphs, e.g.:
https://github.com/marionettejs/backbone.marionette/commit/18d3227dbdf2b2f515136f30e6516f791b3937a8#diff-6

[2015-03-30 21:16] thenickcox opened #385 "`index.jade` file fails to compile in `npm run dev`"
On node 0.10.16:

[code]

[2015-03-30 21:19] thenickcox commented on #384
I'll look into this, but I [wasn't able to get my dev environment running due to a jade compilation error](https://github.com/marionettejs/marionettejs.com/issues/385).

[2015-03-30 21:29] peterblazejewicz commented on #385
`dist/js/classList.js` is created during build process, it's part of inlined JavaScript code. Do you receive any JSHint errors before Jade task fails?

[2015-03-30 21:37] thenickcox commented on #385
Guess I shouldn't have abbreviated that part of the output! Here's `grunt jscs:grunt` on its own:

[code]

[2015-03-30 21:44] thenickcox commented on #385
I thought maybe running this with `--force` would ignore the errors, but it still aborts.

[2015-03-30 21:44] peterblazejewicz commented on #385
For some weird reason your local branch seems to be out of sync of master branch:
[code]

[2015-03-30 21:46] thenickcox commented on #385
Could there be something else wrong?

[code]

[2015-03-30 22:12] #385 closed

[2015-03-30 22:15] peterblazejewicz commented on #385
@thenickcox fixed and merged. If you fetch update and rebase, everything should be ok.
Thanks!

[2015-03-30 22:16] thenickcox commented on #385
@peterblazejewicz Worked like a charm!

[code]

[2015-03-30 22:18] thenickcox commented on #384
Okay. Thanks to @peterblazejewicz's fix, I should be able to take a look at this tonight.

[2015-03-30 23:53] samccone opened #387 "Need to add a polyfill for RAF"

[2015-03-30 23:53] samccone commented on #387
this computer is far too old to upload images, but it is a real issue, trust me :)

[2015-03-30 23:57] samccone commented on #387
this computer is far too old to upload images, but it is a real issue, trust me :)

[2015-03-31 09:26] nbasili commented on #383
Hi there,

There was an issue with Transifex Live in detecting the source language of the website (English) as a possible language preference in Chrome. This issue should be now fixed. Can you please verify? Note that local storage must be reset for the changes to take effect otherwise that last used language option is selected.

Also there is another issue in the marionette website. Although Tran

[2015-03-31 13:36] samccone commented on #383
:+1: I will enable it, I only had it hid because I was trusting the local detecting magic, but it seems clear that people do not like it.

[2015-03-31 13:36] samccone commented on #383
thanks for following up @nbasili really awesome of you guys

[2015-03-31 13:53] sarkasm commented on #383
I can verify that clearing the language bits in my localstorage cleared this up for me this morning

[2015-03-31 18:44] peterblazejewicz commented on #383
@nbasili Nikos, Thanks! Worked!

[2015-03-31 18:44] #383 closed

[2015-04-02 22:43] jdaudier commented on #387
@samccone what feature is this that's using RAF? Logo animation?

[2015-04-02 22:51] samccone commented on #387
request animation frame :)

[2015-04-02 22:56] jdaudier commented on #387
ok i know that... but let me ask it a different way, what's broken?

[2015-04-02 23:46] jdaudier opened #389 "Set up initial structure for Guides"
Steps:
1. Create a "guides" folder in src repo
2. Create custom grunt task (fun!)
3. Update gruntfile in www to pull it in
4. Create a index hbs template
5. Create a template hbs template
6. Test out setup using @benmccormick sample text: https://gist.github.com/benmccormick/7fb48e9c411db00c0094
7. Sleep :sleeping:

*Did I miss anything people?*

[2015-04-03 19:52] peterblazejewicz commented on #389
5a separate `.scss` either top level if `guides` are top level without master template or as page style sheet.

[2015-04-03 20:14] jdaudier commented on #389
@peterblazejewicz For the sake of time, I just set up a [Gitbook](https://www.gitbook.com/book/marionette/marionette-guides)

We can always convert the content over later on but Gitbook will give us PDF, ePub, mobi, and a site right out of the box which is kinda nice.

[2015-04-03 20:14] #389 closed

[2015-04-03 21:19] jdaudier opened #390 "[CALL FOR WRITERS] Marionette Guides!"
Need writers to plug the missing sections.  Feel free to add new subchapters or re-arrange them as you see fit. Ping me if you have any questions regarding the setup.

* Repo: https://github.com/marionettejs/guides
* Preview: http://marionette.gitbooks.io/marionette-guides/content/

cc/ @benmccormick @parris @moimikey @joshbedo @trezy @kkemple @techpeace @ianmstew @mmckelvy @MeoMix @scott-w

![ima

[2015-04-04 00:06] jdaudier commented on #390
- [x] Introduction
- [x] Why Marionette?
- [ ] Getting Started
   - [ ] Installing Marionette
   - [ ] Installing Marionette Inspector (@ianmstew?)
- [ ] Creating an Application
- [ ] Implementing Routing
- [ ] Connecting Data to Your Views
- [ ] Handling Data Latency
- [ ] Dealing with Complex Persisted Data (@mmckelvy?)
- [ ] Nesting Your Views
- [ ] Passing Data with Events (@samccone? - this i

[2015-04-04 00:08] jdaudier commented on #390
closing - dup of https://github.com/marionettejs/backbone.marionette/issues/2448

[2015-04-04 00:08] #390 closed

[2015-04-04 16:42] peterblazejewicz commented on #375
reopened:
https://github.com/marionettejs/marionettejs.com/pull/391#issuecomment-89551606

[2015-04-05 19:33] #143 closed

[2015-04-07 00:47] jdaudier opened #393 "Weird spacing on docs"
Anyone know why we get these?

![image](https://cloud.githubusercontent.com/assets/1666031/7015205/1249b4a2-dc9e-11e4-97eb-ebd11e30a3d2.png)

![image](https://cloud.githubusercontent.com/assets/1666031/7015192/e264bf0c-dc9d-11e4-8f2f-400ac1b0e6c0.png)

[2015-04-07 19:11] peterblazejewicz commented on #393
@jdaudier There are `br` tags added:
[code]
See:
https://github.com/marionettejs/marionettejs.com/issues/384

dups: #384

[2015-04-07 19:57] peterblazejewicz opened #394 "Optimize page speed"
We have been adding content, a lot of content actually:
https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fmarionettejs.com%2F&tab=mobile
Everything above 80 is OK, 85 is very good, we have above 85 before.
TBD in steps

[2015-04-07 20:01] jdaudier commented on #393
Ah ok

[2015-04-07 20:01] #393 closed

[2015-04-07 20:18] peterblazejewicz commented on #394
section: "examples" columns: 4 > 2 > 1 + img src/srcset/sizes

[2015-04-09 22:27] mbuck-r7 commented on #351
I put together a quick demo of what it would look like to convert these to [reveal.js](https://github.com/hakimel/reveal.js) which you can [check out here](https://github.com/techpeace/marionette-training-presentations) with a [live demo here](http://techpeace.github.io/marionette-training-presentations/).

![marionette-presentation mp4](https://cloud.githubusercontent.com/assets/1170730/7078250/0

[2015-04-09 22:28] techpeace commented on #351
I put together a quick demo of what it would look like to convert these to [reveal.js](https://github.com/hakimel/reveal.js) which you can [check out here](https://github.com/techpeace/marionette-training-presentations) with a [live demo here](http://techpeace.github.io/marionette-training-presentations/).

![marionette-presentation mp4](https://cloud.githubusercontent.com/assets/1170730/7078250/0

[2015-04-09 22:34] jdaudier commented on #351
@techpeace woot!  Matt.  Looks really nice.
![giphy](https://cloud.githubusercontent.com/assets/1666031/7078445/0d98cb64-dee7-11e4-8a62-9f209acfe109.gif)

[2015-04-09 22:36] techpeace commented on #351
Thanks, @jdaudier! :smile:

[2015-04-09 22:38] jdaudier commented on #351
@techpeace Are you planning to convert the whole slide deck, or do you want us to continue where you left off?

[2015-04-09 23:11] techpeace commented on #351
Oh I'd be happy to, just wanted to get some feedback and confirm with y'all before I started that journey.

[2015-04-09 23:13] jdaudier commented on #351
@techpeace cool!  I'll take a look at it in more detail tonight.

[2015-04-10 00:55] jdaudier commented on #351
@techpeace Hey Matt, ok, so I looked @ it in more detail.  Looks great!  I really like how the community can modify the slides and update them as new features come out. Awesome!

One minor suggestion is to put a note on the example slides about how the results page might take a few seconds to load... unless it's my internet that's slow. Or I wonder if it's possible to show a loading icon. :smiley:

[2015-04-10 02:50] jdaudier commented on #351
A couple of other questions / thoughts...

Do we want to break up the slides into partials like `_slide1.jade`, `_slide2.jade`, etc.?
If we do, do we want to add slide numbers in small font somewhere on each slide?

[2015-04-10 03:02] jdaudier opened #401 "Official list of browsers supported"
@peterblazejewicz @samccone
Can I get an official list of browsers we wanna support for the www, so I can note it for myself when I'm building stuff and to add it to the README?

[2015-04-10 04:02] jdaudier commented on #351
One more thought... on the last slide, we should prob link to the repo and mention something like...

[2015-04-10 04:58] peterblazejewicz commented on #401
@jdaudier we define support via tools:
- autuprefixer task uses 2 last browser:
'''
browsers: ['last 2 version']
'''
- we use SVGs, including SVG maps

We do not use flex box, so I'd say all modern browsers down to IE9, with note about prefixed vendors properties.

[2015-04-10 05:20] jdaudier commented on #401
OK I will add this to readme:

Last 2 versions of chrome,  safari, Firefox,  IE9 and up.

Along with your notes above

[2015-04-12 02:58] jdaudier opened #402 "Fix button alignment for mobile views"
These buttons needs to match the other ones

![2015-04-12 02 55 14](https://cloud.githubusercontent.com/assets/1666031/7104213/30a38ff0-e09e-11e4-8559-19a234c9117d.png)
![2015-04-12 02 55 33](https://cloud.githubusercontent.com/assets/1666031/7104212/30a1e74a-e09e-11e4-9817-55bd07ed93bb.png)

[2015-04-12 20:50] #402 closed

[2015-04-13 00:22] jdaudier opened #404 "example apps buttons and links don't work on mobile"
Except for Streamus

any idea why @peterblazejewicz ?

[2015-04-13 02:06] jdaudier opened #405 "CSS issues"
I'm seeing this CSS discrepancy between production and local environment.  I'm not sure why.

For instance, Streamus should have spacing above the div.

@peterblazejewicz - any idea?

**Production**
![image](https://cloud.githubusercontent.com/assets/1666031/7108863/fc0f6bd4-e15f-11e4-877d-af186f1633ee.png)

**Development / Locally**

![image](https://cloud.githubusercontent.com/assets/1666031/710

[2015-04-13 17:54] jasonLaster opened #406 "Marionette Team Page"
We're a modest bunch, but that doesn't mean there shouldn't be a team page

https://github.com/marionettejs

I think it'd do a good job of promoting legitimacy for the org and get some marketing for the companies we work for and their contributions in terms of time

[2015-04-13 17:57] peterblazejewicz commented on #406
@jdaudier we will need a better grid

[2015-04-13 17:58] jasonLaster commented on #406
lol

[2015-04-13 18:00] samccone commented on #406
heh :)

[2015-04-13 18:58] peterblazejewicz commented on #404
@jdaudier
This is fixed by #407
The elements overflow other elements - so no pointer events are passed.
You can test such problems in Google Chrome Dev Tools - as they emulate mobile device and touch/pointer in emulation mode just like on real device (*nearly*):
![20150413205714](https://cloud.githubusercontent.com/assets/14539/7123063/c86599b4-e21f-11e4-90c1-6eafc03d08c0.jpg)

[2015-04-13 18:58] #404 closed

[2015-04-13 19:11] peterblazejewicz opened #408 "Don't apply positioning directly to UI elements"
@jdaudier via Gitter:
We use `critical` and it simply takes some declaration that it thinks are `critical` for rendering path out of current CSS, moves to the top of the page. The other CSS is loaded asynchronously via JavaScript.
It means that order of CSS declaration can change - as some declaration can be taken out of source CSS and moved to `critical` path, while the all code that creates it i

[2015-04-14 01:08] jdaudier commented on #404
Thanks @peterblazejewicz! LGTM

[2015-04-14 01:39] jdaudier commented on #408
@peterblazejewicz thanks for the explanation!  I'll have to fix this ... this weekend hopefully.  It's been bugging me. :smile:

[2015-04-14 10:04] #405 closed

[2015-04-16 23:38] jdaudier commented on #304
Closing 'cuz I don't think anyone has time for this :cry:

[2015-04-16 23:38] #304 closed

[2015-04-16 23:39] jdaudier commented on #300
This is added to the preliminary guides: https://github.com/marionettejs/guides/blob/master/why_marionette.md

[2015-04-16 23:39] #300 closed

[2015-05-26 13:29] trezy opened #409 "Add IDs to sections for easy reference"
One of my coworkers asked my yesterday who actually uses Marionette. I just referred him to the list of the bottom of the website but I would rather have been able to send him a link like [http://marionettejs.com/#logos].

[2015-05-26 18:45] peterblazejewicz commented on #409
:+1:
But on small screens there will be a hidden trap - the navigation will work (they user will be navigated) but this specific section is hidden on mobile screens.
So if section is to be bookmarkable it has to be accessible.
/cc
@jdaudier

[2015-05-27 02:42] jdaudier commented on #409
@peterblazejewicz Meaning we have to un-hide it for mobile, correct? Just making sure I am on the same page.

thanks @trezy for the idea!  I'll see you tomorrow at JSConf.

[2015-05-27 18:23] peterblazejewicz commented on #409
@jdaudier Yes, just make sure that any header/section with added bookmarkable anchor is visible on all viewports :D

[2015-05-28 00:16] jdaudier commented on #409
you got it!

[2015-06-26 23:39] billyjanitsch opened #412 "Docs consolidating proposal"
Most good docs pages (e.g. [Backbone](http://backbonejs.org), [Express](http://expressjs.com/4x/api.html)) put their entire documentation on a single page. This makes jumping around much faster (cmd+F on all class methods, and no page load wait-time), and encourages top-down readability.

If the [docs get rewritten](marionettejs/backbone.marionette#2629) with better class subheadings, would you co

[2015-06-27 11:47] peterblazejewicz commented on #412
I think that's an argument from a point of experienced developer - a quick, one page reference doc is sometimes better. But please consider someone who just poke around concepts of each solution and is trying to get some information on some key points of given project:
`backbone model`
`express router`
`marionette application`
`angular controller`
`ember controller`
Which of above gives a better l

[2015-06-27 20:21] billyjanitsch commented on #412
@peterblazejewicz Thanks for your thoughts! I completely agree that the docs should be very accessible to first-time users. To be more precise, I'm describing the following two changes:

1. The [sidebar](https://cloud.githubusercontent.com/assets/1158733/8393513/957a2de8-1cc7-11e5-81a8-1a380fe4f36c.png) would be ordered by functionality and contain class methods [like Backbone's](https://cloud.git

[2015-06-29 15:04] samccone opened #413 "New Batch of Stickers"
We are going to do a new run of stickers.

@mordecai174 is helping us out, we can use this issue for feedback

[2015-06-29 15:05] mordecai174 commented on #413
should have this up for you guys this afternoon :horse:

[2015-06-29 17:35] trezy commented on #409
@peterblazejewicz I disagree. I've verified on several mobile devices -- Android 4.something, Android 4.somethingElse, iOS8, etc -- that the browser just brings you to the top of the homepage if the section is hidden. No unexpected consequences. I'll dig in and add these this weekend since I got the repo to build this time. :-)

[2015-06-29 18:03] peterblazejewicz commented on #409
@trezy that's the point - user arepointed nowhere:
http://bradfrost.com/blog/post/five-responsive-web-design-pitfalls-to-avoid/

[2015-06-29 18:32] trezy commented on #409
@peterblazejewicz That's an issue with us hiding sections. If you're concerned with users being penalized then we should make sure all of the sections are available, i.e. not hidden from mobile. That's a completely separate issue. This is an enhancement to make the page more navigable for those that have the capability.

[2015-07-08 16:37] paulfalgout opened #414 "Add option to choose homepage language"
https://github.com/marionettejs/backbone.marionette/issues/2654

I agree too.. as a guy who lived for years in Korea but spoke no Korean, this would've been frustrating (assuming there is/was a Korean translation)

[2015-07-08 17:28] samccone commented on #414
sure ok
https://github.com/marionettejs/marionettejs.com/pull/400/files

[2015-07-08 17:34] paulfalgout commented on #414
ping @blikblum

[2015-07-21 13:46] samccone opened #416 "docs for 1.7.0 do not build?"
https://github.com/marionettejs/backbone.marionette/issues/2678

thanks for reporting @KarlPurk

[2015-07-21 18:22] geekdave opened #417 "License? Reuse?"
My team is releasing a new OSS project, and we've been looking for a project website with similar requirements to borrow/steal from :)

We love the look of the Marionette site, how it organizes tons of information and docs in a clean and uncluttered way, and how it generates the docs based on the parent project.

The only reference I saw to a license was in the `package.json`, which references an

[2015-07-21 18:23] samccone commented on #417
oh yeah this is totally MIT, let me update that

[2015-07-21 18:25] #417 closed

[2015-07-21 18:25] samccone commented on #417
done and done :white_check_mark:

[2015-07-21 18:43] geekdave commented on #417
Awesome!  Thanks @samccone !

[2015-07-21 19:27] paulfalgout commented on #416
O.o so weird.  The rest of em seem to work.  Maybe just a deploy fail?

[2015-07-21 19:27] samccone commented on #416
perhaps

[2015-07-21 19:41] peterblazejewicz commented on #416
The links is incorrect, the correct one should be:
http://marionettejs.com/docs/v1.7/
We need to check urls build routine :)

[2015-07-21 19:42] paulfalgout commented on #416
Hmm I wonder why is this the case?  `1.6.0` and `1.8.0` both use ".0"

[2015-07-21 19:46] samccone commented on #416
https://github.com/marionettejs/marionettejs.com/blob/master/tasks/utils/tags.js#L4-L14

here we are :hear_no_evil:

[2015-07-21 19:46] peterblazejewicz commented on #416
The version is tagged '1.7' - not '1.7.0':
https://github.com/marionettejs/backbone.marionette/releases/tag/v1.7

[2015-07-22 05:29] ahumphreys87 commented on #416
Ah I remember this from the old site, there are a bunch of weirdly names
tags if I remember rightly. Check out the ruby script :p I'm sure I has
special cases for them

On Tuesday, 21 July 2015, Peter Blazejewicz <notifications@github.com>
wrote:

[2015-09-07 02:09] paulfalgout commented on #412
I am actually  :+1: for 1 + 2.  Solves having to add search

[2015-09-12 21:35] ianmstew commented on #412
I would rather have separate pages for SEO, but I like the "full docs" page for power users.

[2015-10-15 12:25] paulfalgout commented on #412
I think maybe we should look into https://github.com/GitbookIO/gitbook

[2015-10-21 17:09] trezy opened #424 "Sticker link is broken"
Devswag seems to have taken down our stickers. We may have done that, I dunno. The point is that the link to buy stickers is currently broken on the site. I'm going to hide the section until we have an alternative.

[2015-10-21 17:13] samccone commented on #424
:+1:

[2015-10-21 17:31] trezy commented on #424
I updated the site so we're not displaying the stickers section anymore. I know we have a [ticket from June about new stickers](#413). Do we have any info on a link for that or are we just updating the Devswag stickers?

[2015-10-21 17:34] samccone commented on #424
oh yeah we do I need to place the order and ship em, I promise it will happen this week

[2015-10-21 20:25] trezy commented on #424
Now you have a milestone for it. :-)

[2015-10-28 14:33] jdaudier opened #427 "Embed Gitter chat room"
A JavaScript snippet can be pasted into the site and will add a button and chat elements into the page. We can also customize the behaviur by utilizing the JavaScript API.

Visit https://sidecar.gitter.im to see it in action, copy the snippet and checkout the API documentation.

https://gitter.im/gitterHQ/sidecar

/cc @trezy

[2015-10-29 14:35] trezy opened #428 "Exterminate Jade"
Personally, I hate writing Jade. It's hard for me to read and given that HTML isn't a particularly difficult language to write, I feel like Jade is unnecessary. It's just another step in our insanely long build process.

How would everybody else feel about removing Jade and moving to using plain old HTML and maybe Handlebars or Underscore templates?

*NOTE:* These are obviously personal opinions.

[2015-10-29 14:36] trezy commented on #428
I'm specifically looking for comment from @jdaudier (who is welcome to just copy/paste her comments from Gitter yesterday) and @peterblazejewicz though I welcome comments from everyone.

[2015-10-29 14:38] jdaudier commented on #428
I prefer Jade, but I can go with whatever the majority prefers. :sake:

[2015-10-29 16:40] samccone commented on #428
what would be the wins here? or just a rewrite to rewrite?

[2015-10-29 16:48] trezy commented on #428
From what I can see:

1. Removing one barrier to entry
1. Removing a step from our super long build process
1. Making implementation of the Marionette framework a bit easier

In response to my own points:

1. Jade may not be that big of a barrier to entry. I don't like using it but it didn't seem terribly difficult to pick up.
1. Removing Jade likely won't make a huge dent in our build process, th

[2015-10-29 17:36] trezy opened #429 "Implement Marionette"
We're loading Marionette into the website. It would seem that it's not actually used anywhere, it's only there to allow hackers to use it in the console.

With my recent team page I could see a value in using Marionette views. @paulfalgout mentioned that the example section could benefit from being written in Marionette. #427 could also benefit from having Marionette. It's not that none of these t

[2015-10-29 20:49] peterblazejewicz commented on #428
I think the content is the king (built upon JS documentation), the build process should be saved as much as possible for content, not markup generation. The rest should be reserved for optimizing content/markup size.
If the site (or part) is switched to Mj (spa), the reserved build process can be used to generate JSON-DL schemas snippets for dynamic content (yes, for crawlers) or to provide static

[2015-10-29 20:54] peterblazejewicz commented on #429
Yes, that's correct. There was (and still is) a positive thing to have a framework site built as static, non-moving resources (the web working as search engine).
If you go with dynamic content, I'd help to instruct it for JSON-DL or whatever helps to crawl/index content.

[2015-10-29 20:56] samccone commented on #429
so, I want to keep it on the page, because it is nice to just put code into the console when messing around, I am fine keeping the site almost entirely static.. but it might be nice to have a touch of Mn in use :)

[2015-10-29 23:17] scott-w commented on #428
It could be worthwhile streamlining it. I'm not familiar with the site setup but I've noticed there's a handlebars template there too.

At a higher level, if we have a blessed way of writing Marionette, such as what template engine to prefer by default, then we'd be best writing the site to follow that, in my opinion.

[2015-11-16 16:50] codekiln opened #430 "marionettejs.com is down"
http://marionettejs.com/ is currently down

[code]

[2015-11-16 17:48] trezy commented on #430
Running the deploy script seems to have us back up. I'll leave this issue open and monitor the page for the rest of the day just in case.

[2015-11-17 01:15] trezy commented on #430
I've been monitoring the site and it hasn't gone down again all day. I'm pretty confident this was a fluke, likely just some sort of compile issue. I'm closing the issue but feel free to repoen if this occurs again.

[2015-11-17 01:20] samccone commented on #430
the deploy however did not really work, looks like we are now missing $ on the page

[2015-11-17 01:22] trezy commented on #430
Way to rain on my parade, @samccone. I'm looking into it meow.

[2015-11-17 02:30] trezy commented on #430
Fixed again. As I said in Gitter, I'm chalking this up to my switching node versions so frequently.

[2015-11-17 02:30] #430 closed

[2015-12-08 15:03] Woile commented on #227
I was searching for this issue, I like the way hapijs manages it: http://hapijs.com/updates
The site could add a new "updates" button, with a "New" label whenever there's a new version update.

I never realize there's a new update until I start reading the docs, and observe stuff that has been deprecated :(

[2015-12-08 15:30] jdaudier commented on #227
I like this idea @Woile. Is this something you're interested in helping us with?  I can walk you through how to set up the site locally.

[2015-12-08 15:38] Woile commented on #227
@jdaudier yeah sure!

[2015-12-08 16:14] jdaudier commented on #227
@Woile ok great... just LMK when, and I can make myself available.

[2015-12-08 16:20] Woile commented on #227
Hey @jdaudier , I've just got the site up and running, I was wondering where should I add the new section. You can contact me through gitter if u want.

[2015-12-08 22:40] jdaudier commented on #406
@trezy Thanks!  I just noticed this today. Looks awesome!

[2015-12-08 22:40] #406 closed

[2015-12-09 15:08] trezy commented on #406
;-)

[2015-12-29 07:59] peterblazejewicz opened #433 "grunt-lintspaces dependency fails to install under Node 4.2.4/NPM 2.14.2"
On OS X I had to do this:
[code]
Otherwise I was not able to install deps:
[code]

This could be something Node or NPM specific or could be a weird side effect on this change:
https://github.com/marionettejs/marionettejs.com/commit/dfc843b4c0a8105a896c5a074f30c9f5ec7b3643#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L53

Thanks!

[2015-12-31 23:15] samccone commented on #433
:+1:

[2015-12-31 23:15] #433 closed

[2016-03-10 00:25] jdaudier opened #438 "Add guides under Books section"
Remove BB Plugins and add [Marionette Guides](https://github.com/marionettejs/guides)

/cc @scott-w

[2016-03-10 00:27] jdaudier opened #439 "Add training kit"
Add [Marionette training kit](https://github.com/hegdeashwin/learning-backbone-marionette/) link somewhere on the site

/cc @hegdeashwin @ianmstew

[2016-03-18 02:07] paulfalgout opened #441 "Yellow text on white background is very difficult to read (http://marionettejs.com/updates/)"
From @tjoneseng from https://github.com/marionettejs/backbone.marionette/issues/2945

The changelog styling uses yellow on white for some links.  Those are basically impossible to read.

![image](https://cloud.githubusercontent.com/assets/13930/13861206/4401f1ce-ec49-11e5-85ed-6cd962a0a8c6.png)

[2016-03-18 15:35] samccone commented on #441
oh no!

[2016-03-19 14:08] #441 closed

[2016-03-19 16:02] peterblazejewicz opened #444 "Optimize anti-FOUC/critical on the home page"
I think that after search and updates features have been added the the critical path (css) implementation should be tested and refactored.
These are single screenshots from the home page (the changes are very quick, and you could not notice them if you are on DSL connection):
![image](https://cloud.githubusercontent.com/assets/14539/13899653/f8a7c5c6-edf3-11e5-86c4-b1012fe29de5.png)
![image](https

[2016-03-19 16:40] MeoMix commented on #444
Yeah I've seen this as well.

[2016-03-19 16:50] samccone commented on #444
yeah this needs a MAJOR fixup

[2016-03-19 22:03] jdaudier commented on #444
I have.  Is this due to critical CSS?

[2016-04-01 05:33] #444 closed

[2016-04-09 11:21] jammon opened #446 "Improve docs toc"
For the uninitiated the docs site begins rather terse. They can choose any topic and start to read, and it looks as if you had to read everything before you get the big picture. (Later the docs are waaay better!)

I suggest to group the links to the different pages into topics and provide them with an explanation, usually the first paragraph of the referred page. I made an example page for v.2.4.5

[2016-04-09 17:14] jdaudier commented on #446
I think the TOC is generated from an automated grunt task: https://github.com/marionettejs/marionettejs.com/blob/master/gruntfile.js#L33

Correct me if I'm wrong, @samccone.

@jammon: We also have guides here: https://marionette.gitbooks.io/marionette-guides/content/en/

[2016-04-16 12:12] scott-w commented on #446
I think I've just been looking at the same thing @jammon. I think the file you're looking for is https://github.com/marionettejs/marionettejs.com/blob/master/src/docs/index.hbs. I'm assuming you're wanting to update the main index page of the documentation?

[2016-04-25 20:30] denar90 opened #447 "Add order for doc files"
I propose to add order for doc files. Now we have it alphabetically in nav bar
[code]

Purpose e.g. `installation.doc` which has to be first and after all other stuff. Issue related to https://github.com/marionettejs/backbone.marionette/issues/2963

I propose a few ways how it can be solved.

 - add list of doc files in some config and render it
 - mark needed doc file names with order number also

[2016-04-26 17:17] samccone commented on #447
:+1:

[2016-04-26 19:41] peterblazejewicz commented on #447
@denar90
maybe only a *topics* object needs to be added, e.g.:
[code]
where `topics` is just a set of most important `files` and `files`:
[code]
The topics object can be created in the same place where files are parsed.

[2016-04-26 19:54] denar90 commented on #447
It make sense. Do we need additional line of topics at the bottom?

[2016-05-02 08:37] denar90 commented on #447
I've created PR. It's my vision of solving issue. Can someone take a look? Maybe I'm wrong.

[2016-05-07 08:12] denar90 opened #449 "Ignore pre release tags for docs"
Now we have a problem with doc page where on `current` [page](http://marionettejs.com/docs/current/), version which we have is `v3.0.0-pre.2` this is not good, because v3.pre.. docs are not ready and people are really confused. I propose to ignore in doc page any pre tags at all.
I'll prepare PR asap.

[2016-05-07 09:20] scott-w commented on #449
Is this related to marionettejs/backbone.marionette#3002?

[2016-05-07 10:06] denar90 commented on #449
Yes. Forgot to add link on that.

[2016-05-07 11:06] denar90 commented on #449
@scott-w should I leave this PR for @curzonj ?

[2016-05-07 11:34] denar90 commented on #449
Created PR.

[2016-05-07 11:43] denar90 commented on #449
Sorry guys, maybe I'm to rush or something but I realized that I saw this problem (told other colleagues that here some problem, be sure that you are using right version) but didn't do nothing for fixing this...

[2016-05-07 16:20] #447 closed

[2016-05-09 11:50] denar90 opened #452 "Create additional-resources page"
### Todo
- [x] Update [awesome list](https://github.com/sadcitizen/awesome-marionette) with resources for main page
- [x] Parse topics from [awesome list](https://github.com/sadcitizen/awesome-marionette) file using grunt
- [x] Automatically generate data files for topics: Tutorials and articles, Books, Videos,Examples and boilerplates, Libraries
- [x] ~~Make data for `Books` topic the same struct

[2016-05-09 13:09] jdaudier commented on #452
Would be great to allow flexibility to exclude or add to the parsed list from Awesome list.

[2016-05-12 11:04] denar90 commented on #452
I've also been thinking to write some tests for compilers using [AVA](https://github.com/sindresorhus/ava). It really good works with promises. I've added some example for my compiler but soon we can cover all of them.

[2016-05-12 19:38] #449 closed

[2016-05-13 10:39] denar90 commented on #452
About `videos` file. After creating json from list we can send request and get youtube video data. But problem in format. Format for video described [here](https://github.com/marionettejs/marionettejs.com/blob/master/src/data/README.md) can't be reached by format which youtube provide with:
[code]

Can I change format a bit due to youtube API ?

[2016-05-13 19:08] peterblazejewicz commented on #452
@denar90
Yes, you can I think. The format (and data description/names) does not matter. What matters is to be sure that data from JSON is outputted to static html markup. We just use this information to enhance crawlers and screen readers (so Marionette has good generic traffic from the net)

[2016-05-13 21:02] denar90 commented on #452
@peterblazejewicz Can moving some sections (books, videos. example apps) from main page to additional resources page have bad effect on traffic?

[2016-05-13 21:05] peterblazejewicz commented on #452
No (if done while preserving markup and document outline/sections). Just go ahead and it could be later reviewed.
btw: that's about library discoverability - not traffic :)
Thanks!

[2016-05-15 20:19] denar90 commented on #452
What do you think about using our own awesome list? We can make fork of original one and prepare format what we need. Because in some places instead of line
`A Thorough Introduction To Backbone.Marionette by Joseph Zimmerman - [Part 1](some_link), [Part 2](some_link) and [Part 3](some_link)`
we should parse lines like
[code]
Or in original repo we can try to change contributing instructions so for

[2016-05-15 20:43] peterblazejewicz commented on #452
Splitting or rewriting this could be an overkill - the Google or Bing are smart enough to crawl a real meaning/title of the link I believe - the link's target origin content heading/page is important (their relevance to the link source, uniqueness, etc)

[2016-05-16 05:43] denar90 commented on #452
Sorry, I've read [contributing](https://github.com/sadcitizen/awesome-marionette/blob/master/contributing.md)

Maybe list was made before [awesome contributing](https://github.com/sindresorhus/awesome/blob/master/contributing.md#adding-to-this-list) file was changed, so task

became more interesting)

[2016-05-24 09:10] mdamien opened #454 "Support HTTPS"
Looks like it's because you're using Github Pages

[2016-05-27 12:20] denar90 opened #456 "Update site after Mn release"
We need to update site automatically when Mn release a new version.
I think something like `travis-runner.sh` has to be added to framework repo.

[2016-05-27 12:32] ahumphreys87 commented on #456
Good idea.

However I believe the travis deploy of the site is broken at the moment. Be
good to get that fixed

On Friday, May 27, 2016, Artem Denysov <notifications@github.com> wrote:

[2016-05-27 12:44] denar90 commented on #456
It looks fine right now
https://travis-ci.org/marionettejs/marionettejs.com

[2016-05-29 21:15] charlex opened #460 ""The page you are looking for cannot be found.""
Looks like cloudflare is having some trouble today
<img width="710" alt="screen shot 2016-05-29 at 2 14 40 pm" src="https://cloud.githubusercontent.com/assets/1542740/15636053/cb59f396-25a7-11e6-80cc-1554fd79d41f.png">

[2016-06-02 21:26] scott-w opened #462 "Documentation Renderer inserts <br>"
In the docs, I tend to enforce an 80-line width in the source. The task that converts the MD docs into HTML seems to be preserving the newlines as `<br>` tags.

I do think it'll make sense to have a width enforced for readability but I'd rather see that enforced in CSS than allowing the source to affect it.